{% macro selected(option_value, selected_value, default = false) %}
    {% set option_value = "%d"|format(option_value) ?: option_value %}
    {% if option_value is same as(selected_value) or (not selected_value and default) %}
        selected
    {% endif %}
{% endmacro selected %}

{% macro checked(option_value, selected_value, default = false) %}
    {% set option_value = "%d"|format(option_value) ?: option_value %}
    {% if option_value is same as(selected_value) or (not selected_value and default) %}
        checked
    {% endif %}
{% endmacro checked %}

{% macro info(string = '') %}
    {% if string %}
    <span class="frm_info">{{ string|e('html')|nl2br }}</span>
    {% endif %}
{% endmacro info %}

{% macro anchor(list, section) %}
    <ul class="anchor">
    {% for key, title in list %}
        <li>
            <a href="#anchor_{{ key }}" class="{{ html_classes({'selected': (section == key)}) }}">
                {{- title -}}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endmacro anchor %}