{% extends "/admin/_layout.html" %}
{% from "macro.html" import renderPagination %}

{% set title = "컨텐츠 > FAQ > 카테고리 관리" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <div class="local_ov01 local_ov">
        <span class="btn_ov01">
            <span class="ov_txt"> 전체 FAQ </span>
            <span class="ov_num"> {{ total_count|format_number }}건</span>
        </span>
    </div>
    <div class="local_desc01 local_desc">
        <ol>
            <li>FAQ는 무제한으로 등록할 수 있습니다</li>
            <li><strong>FAQ 카테고리 추가</strong>버튼을 눌러 FAQ 카테고리를 생성합니다. (하나의 FAQ 타이틀 생성 : 자주하시는 질문, 이용안내..등 )</li>
            <li>생성한 FAQ 카테고리의 <strong>FAQ 수</strong>를 눌러 세부 내용을 관리할 수 있습니다.</li>
        </ol>
        <p>
            <button id="btn_add_category" class="btn btn_01">FAQ 카테고리 추가</button>
        </p>
    </div>

    <form name="form_category" id="form_category" method="post"
        action="{{ url_for('admin.content.faq.category.insert') }}">
        {{ csrf.field|raw }}

        <div id="area_category_info" class="tbl_frm01 tbl_wrap">
            <table>
                <colgroup>
                    <col class="grid_4">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">FAQ 카테고리 정보 </th>
                        <td>
                            <input type="text" id="subject" name="subject" class="frm_input frm_input_full required"
                                size="100" placeholder="FAQ 카테고리" required>
                        </td>
                        <td>
                            <input type="text" id="order" name="order" class="frm_input frm_input_full" size="10"
                                placeholder="순서">
                        </td>
                        <td>
                            <select id="is_enabled" name="is_enabled">
                                <option value="1">사용</option>
                                <option value="0">사용안함</option>
                            </select>
                        </td>
                        <td>
                            <button type="submit" class="btn btn_01">확인</button>
                            <button type="button" class="btn btn_02">취소</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>FAQ > 카테고리 목록</caption>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">제목</th>
                    <th scope="col">FAQ수</th>
                    <th scope="col">순서</th>
                    <th scope="col">관리</th>
                </tr>
            </thead>
            <tbody>
                {% for category in faq_categories %}
                <tr class="bg{{ cycle(['0', '1'], loop.index0) }}">
                    <td class="td_num">{{ category.id }}</td>
                    <td class="td_left">{{ category.subject }}</td>
                    <td class="td_num">
                        <a href="{{ url_for('admin.content.faq.list', {faq_category_id: category.id}) }}"
                            class="btn btn_03">
                            {{ category.faq_count }}
                        </a>
                    </td>
                    <td class="td_num">{{ category.order }}</td>
                    <td class="td_mng td_mng_l">
                        <button type="button" class="btn btn_03 btn_modify"
                            data-action="{{ url_for('admin.content.faq.category.update', {faq_category_id: category.id}) }}"
                            data-subject = "{{ category.subject }}"
                            data-order = "{{ category.order }}"
                            data-is_enabled = "{{ category.is_enabled }}">
                            <span class="sound_only">{{ category.subject }}</span>
                            수정
                        </button>
                        <a href="#" class="btn btn_02">
                            <span class="sound_only">{{ category.subject }}</span>
                            보기
                        </a>
                        <a href="{{ url_for('admin.content.faq.category.delete', {faq_category_id: category.id}) }}"
                            class="btn btn_02" onclick="delete_confirm(this); return false;">
                            <span class="sound_only">{{ category.subject }}</span>
                            삭제
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ renderPagination(pagination, query_params) }}

</div>
<script>
    $(function () {
        $btn_add_category = $("#btn_add_category");
        $btn_modify_category = $(".btn_modify");
        $form_category = $("#form_category");
        $area_category_info = $("#area_category_info");

        $area_category_info.hide();

        // FAQ 카테고리 추가 버튼 클릭
        $btn_add_category.on("click", function () {
            let action = "{{ url_for('admin.content.faq.category.insert') }}";
            $form_category.attr("action", action);

            $("#subject").val("");
            $("#order").val("");
            $("#is_enabled").val("1");

            $area_category_info.show();
        });

        // FAQ 카테고리 수정 버튼 클릭
        $btn_modify_category.on("click", function () {
            let action = $(this).data("action");
            $form_category.attr("action", action);

            $("#subject").val($(this).data("subject"));
            $("#order").val($(this).data("order"));
            $("#is_enabled").val($(this).data("is_enabled"));
            $area_category_info.show();
        });

        // FAQ 카테고리 취소 버튼 클릭
        $(".btn_02").on("click", function () {
            $("#subject").val("");
            $("#order").val("");
            $("#is_enabled").val("1");

            $area_category_info.hide();
        });
    });
</script>
{% endblock content %}