{% extends "/admin/_layout.html" %}

{% set title = "컨텐츠 > FAQ > " ~ faq_category.subject ~" > 항목 관리" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <div class="local_ov01 local_ov">
        <span class="btn_ov01">
            <span class="ov_txt"> 등록된 FAQ 상세내용</span>
            <span class="ov_num"> {{ total_count|format_number }}건</span>
        </span>
    </div>
    <div class="local_desc01 local_desc">
        <ol>
            <li>FAQ는 무제한으로 등록할 수 있습니다</li>
            <li><strong>FAQ 상세내용 추가</strong>를 눌러 자주하는 질문과 답변을 입력합니다.</li>
        </ol>
    </div>

    <div class="btn_fixed_top">
        <a href="{{ url_for('admin.content.faq') }}" class="btn btn_02">FAQ 관리</a>
        <a href="{{ url_for('admin.content.faq.create', {faq_category_id: faq_category.id}) }}" class="btn btn_01">FAQ 상세내용 추가</a>
    </div>

    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>{{ faq_category.subject }} > 항목 목록</caption>
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">순서</th>
                    <th scope="col">관리</th>
                </tr>
            </thead>
            <tbody>
            {% for faq in faqs %}
                <tr class="bg{{ cycle(['0', '1'], loop.index0) }}">
                    <td class="td_num">{{ faq.id }}</td>
                    <td class="td_left">{{ faq.question }}</td>
                    <td class="td_num">{{ faq.order }}</td>
                    <td class="td_mng td_mng_m">
                        <a href="{{ url_for('admin.content.faq.view', {faq_category_id: faq_category.id, faq_id: faq.id}) }}" class="btn btn_03">
                            <span class="sound_only">{{ faq.question }}</span>
                            수정
                        </a>
                        <a href="{{ url_for('admin.content.faq.delete', {faq_category_id: faq_category.id, faq_id: faq.id}) }}"
                            onclick="delete_confirm(this); return false;" class="btn btn_02">
                            <span class="sound_only">{{ faq.question }}</span>
                            삭제
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}