{% extends "@admin/_layout.html" %}
{% from "@admin/macro.html" import checked, info, selected %}

{% set title = "디자인/UI > 팝업레이어" %}
{% set action = popup ? '수정' : '추가' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{% set form_action = popup ? url_for('admin.design.popup.update', {'pu_id': popup.pu_id}) : url_for('admin.design.popup.insert') %}

<h1 id="container_title">{{ title ~ ' ' ~ action }}</h1>
<div class="container_wr">
    <form name="form_popup" action="{{ form_action }}" onsubmit="return validate_form(this);" method="post">
        {{ csrf.field|raw }}
        {% if popup %}
        <input type="hidden" name="_METHOD" value="PUT">
        {% endif %}

        <div class="local_desc01 local_desc">
            <p>초기화면 접속 시 자동으로 뜰 팝업레이어를 설정합니다.</p>
        </div>

        <div class="tbl_frm01 tbl_wrap">
            <table>
                <caption>팝업레이어 {{ action }}</caption>
                <colgroup>
                    <col class="grid_4">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><label for="pu_title">팝업 타이틀<strong class="sound_only"> 필수</strong></label></th>
                        <td colspan="3">
                            <input type="text" name="pu_title" value="{{ old('pu_title', popup) }}" id="pu_title" required class="frm_input required" size="80">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">노출위치</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_disable_hours">다시 보지 않음 설정<strong class="sound_only"> 필수</strong></label></th>
                        <td colspan="3">
                            {{ info('고객이 다시 보지 않음을 선택할 시 몇 시간동안 팝업레이어를 보여주지 않을지 설정합니다.') }}
                            <input type="text" class="frm_input required" name="pu_disable_hours" value="{{ old('pu_disable_hours', popup) }}" id="pu_disable_hours" size="5" required> 시간
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">상태</th>
                        <td colspan="3">
                            <label for="pu_is_enabled_1" class="rules_label">사용</label>
                            <input name="pu_is_enabled" id="pu_is_enabled_1" type="radio" value="1" {{ checked(1, old('pu_is_enabled', popup, true)) }}>
                            <label for="pu_is_enabled_0" class="rules_label">사용안함</label>
                            <input name="pu_is_enabled" id="pu_is_enabled_0" type="radio" value="0" {{ checked(0, old('pu_is_enabled', popup)) }}>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_begin_time">시작일시</label>
                        </th>
                        <td>
                            <input type="text" name="pu_begin_time" value="{{ old('pu_begin_time', popup) }}" id="pu_begin_time" class="frm_input" size="21" maxlength="19">
                            <input type="checkbox" name="set_start_time" value="" id="set_start_time">
                            <label for="set_start_time">시작일시를 오늘로</label>
                        </td>
                        <th scope="row"><label for="pu_end_time">종료일시</label>
                        </th>
                        <td>
                            <input type="text" name="pu_end_time" value="{{ old('pu_end_time', popup) }}" id="pu_end_time" class="frm_input" size="21" maxlength="19">
                            <input type="checkbox" name="set_end_time" value="" id="set_end_time">
                            <label for="set_end_time">종료일시를 오늘로부터 7일 후로</label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_left">PC 좌측 위치</label>
                        </th>
                        <td>
                            <input type="text" name="pu_left" value="{{ old('pu_left', popup) }}" id="pu_left" class="frm_input" size="5"> px
                        </td>
                        <th scope="row"><label for="pu_top">PC 상단 위치</label>
                        </th>
                        <td>
                            <input type="text" name="pu_top" value="{{ old('pu_top', popup) }}" id="pu_top" class="frm_input" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_width">PC 넓이</label>
                        </th>
                        <td>
                            <input type="text" name="pu_width" value="{{ old('pu_width', popup) }}" id="pu_width" class="frm_input" size="5"> px
                        </td>
                        <th scope="row"><label for="pu_height">PC 높이</label>
                        </th>
                        <td>
                            <input type="text" name="pu_height" value="{{ old('pu_height', popup) }}" id="pu_height" class="frm_input" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_content">내용</label></th>
                        <td>
                            <textarea name="pu_content" class="required" required>
                                {{- old('pu_content', popup) -}}
                            </textarea>
                        </td>
                        <th scope="row"><label for="nw_content">모바일 내용</label></th>
                        <td>
                            <textarea name="pu_mobile_content">
                                {{- old('pu_mobile_content', popup) -}}
                            </textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="btn_fixed_top">
            <a href="{{ url_for('admin.design.popup') }}" class=" btn btn_02">목록</a>
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>
    </form>
</div>
<script>
    function validate_form(form) {
        errmsg = "";
        errfld = "";

        check_field(form.pu_title, "제목을 입력하세요.");

        if (errmsg != "") {
            alert(errmsg);
            errfld.focus();
            return false;
        }
        return true;
    }

    /**
     * @todo 해당 코드가 banner_form.html에도 있으므로 중복을 제거할 필요가 있음
     */
    document.addEventListener('DOMContentLoaded', function () {
        const setStartTime = document.getElementById('set_start_time');
        const bnStartDatetime = document.getElementById('pu_begin_time');
        
        setStartTime.addEventListener('change', function () {
            if (this.checked) {
                const today = new Date();
                const formattedDate = formatDate(today, "00:00:00");
                bnStartDatetime.value = formattedDate;
            } else {
                bnStartDatetime.value = bnStartDatetime.defaultValue;
            }
        });
    
        const setEndTime = document.getElementById('set_end_time');
        const bnEndDatetime = document.getElementById('pu_end_time');
    
        setEndTime.addEventListener('change', function () {
            if (this.checked) {
                const futureDate = new Date();
                futureDate.setDate(futureDate.getDate() + 7);
                const formattedDate = formatDate(futureDate, "23:59:59");
                bnEndDatetime.value = formattedDate;
            } else {
                bnEndDatetime.value = bnEndDatetime.defaultValue;
            }
        });

        /**
        * 날짜를 지정된 시간과 함께 형식화하는 함수
        * @param {Date} date - Date 객체
        * @param {string} time - 고정된 시간 (예: "00:00:00" 또는 "23:59:59")
        * @returns {string} - 형식화된 날짜 문자열
        */
        function formatDate(date, time) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day} ${time}`;
        }
    });
</script>
{% endblock content %}