{% extends theme_path ~ "/admin/_layout.html" %}

{% block content %}
    <h1 id="container_title">관리자메인</h1>
    <div class="container_wr">
        <section>
            <h2>신규가입회원 5건 목록</h2>
            <div class="local_desc02 local_desc">
                총회원수 30명 중 차단 0명, 탈퇴 : 1명
            </div>

            <div class="tbl_head01 tbl_wrap">
                <table>
                    <caption>신규가입회원</caption>
                    <thead>
                        <tr>
                            <th scope="col">회원아이디</th>
                            <th scope="col">이름</th>
                            <th scope="col">닉네임</th>
                            <th scope="col">권한</th>
                            <th scope="col">포인트</th>
                            <th scope="col">수신</th>
                            <th scope="col">공개</th>
                            <th scope="col">인증</th>
                            <th scope="col">차단</th>
                            <th scope="col">그룹</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td_mbid">mwjopynwjusu2</td>
                            <td class="td_mbname">mwjopynWjuSu2</td>
                            <td class="td_mbname sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=mwjopynwjusu2" class="sv_member" title="mwjopynWjuSu2 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/img/no_profile.gif" alt="no_profile" width="22" height="22"></span> mwjopynWjuSu2</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=mwjopynwjusu2" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=mwjopynwjusu2&amp;name=mwjopynWjuSu2&amp;email=0q.bo9Osnoud1riua3HSq86m0tzTjqCqi6tmlJeonw--" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=mwjopynwjusu2" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=mwjopynwjusu2" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=mwjopynwjusu2" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=mwjopynwjusu2" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=mwjopynwjusu2" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=mwjopynwjusu2&amp;name=mwjopynWjuSu2&amp;email=0q.bo9Osnoud1riua3HSq86m0tzTjqCqi6tmlJeonw--" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=mwjopynwjusu2" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=mwjopynwjusu2" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=mwjopynwjusu2" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=mwjopynwjusu2" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_num">2</td>
                            <td><a href="./point_list.php?sfl=mb_id&amp;stx=mwjopynwjusu2">1,000</a></td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">예</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_category"></td>
                        </tr>
                        <tr>
                            <td class="td_mbid">9h11hyasyrymg0y3qyrq</td>
                            <td class="td_mbname">9H11HYaSyryMG0y3qYrq</td>
                            <td class="td_mbname sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=9h11hyasyrymg0y3qyrq" class="sv_member" title="9H11HYaSyryMG0y3qYrq 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/img/no_profile.gif" alt="no_profile" width="22" height="22"></span> 9H11HYaSyryMG0y3qYrq</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=9h11hyasyrymg0y3qyrq" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=9h11hyasyrymg0y3qyrq&amp;name=9H11HYaSyryMG0y3qYrq&amp;email=noBiZauMkYes096GgGHeZ9WQ1NSlcH5maX6Nx4eypKmyf2GtlqSJpqSPyKim" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=9h11hyasyrymg0y3qyrq" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=9h11hyasyrymg0y3qyrq" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=9h11hyasyrymg0y3qyrq" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=9h11hyasyrymg0y3qyrq" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=9h11hyasyrymg0y3qyrq" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=9h11hyasyrymg0y3qyrq&amp;name=9H11HYaSyryMG0y3qYrq&amp;email=noBiZauMkYes096GgGHeZ9WQ1NSlcH5maX6Nx4eypKmyf2GtlqSJpqSPyKim" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=9h11hyasyrymg0y3qyrq" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=9h11hyasyrymg0y3qyrq" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=9h11hyasyrymg0y3qyrq" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=9h11hyasyrymg0y3qyrq" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_num">2</td>
                            <td><a href="./point_list.php?sfl=mb_id&amp;stx=9h11hyasyrymg0y3qyrq">1,000</a></td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">예</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_category"></td>
                        </tr>
                        <tr>
                            <td class="td_mbid">s4frpvvandcpijda11</td>
                            <td class="td_mbname">s4frpvvAnDcpiJda11</td>
                            <td class="td_mbname sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=s4frpvvandcpijda11" class="sv_member" title="s4frpvvAnDcpiJda11 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/img/no_profile.gif" alt="no_profile" width="22" height="22"></span> s4frpvvAnDcpiJda11</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=s4frpvvandcpijda11" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=s4frpvvandcpijda11&amp;name=s4frpvvAnDcpiJda11&amp;email=2GyXptOppnWhpciponvJlZVootaZnailrqx11HicopmvnJJllGGTo6A-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=s4frpvvandcpijda11" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=s4frpvvandcpijda11" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=s4frpvvandcpijda11" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=s4frpvvandcpijda11" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=s4frpvvandcpijda11" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=s4frpvvandcpijda11&amp;name=s4frpvvAnDcpiJda11&amp;email=2GyXptOppnWhpciponvJlZVootaZnailrqx11HicopmvnJJllGGTo6A-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=s4frpvvandcpijda11" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=s4frpvvandcpijda11" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=s4frpvvandcpijda11" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=s4frpvvandcpijda11" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_num">2</td>
                            <td><a href="./point_list.php?sfl=mb_id&amp;stx=s4frpvvandcpijda11">1,000</a></td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">예</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_category"></td>
                        </tr>
                        <tr>
                            <td class="td_mbid">cri4tcsmdsqrux54zu</td>
                            <td class="td_mbname">cri4tCSmDsQRuX54Zu</td>
                            <td class="td_mbname sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=cri4tcsmdsqrux54zu" class="sv_member" title="cri4tCSmDsQRuX54Zu 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/img/no_profile.gif" alt="no_profile" width="22" height="22"></span> cri4tCSmDsQRuX54Zu</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=cri4tcsmdsqrux54zu" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=cri4tcsmdsqrux54zu&amp;name=cri4tCSmDsQRuX54Zu&amp;email=yKqaaNd2g6F31LaLromaaL6sosbXoGqpe4mhqqeKhKW9bWWO2GGTo6A-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=cri4tcsmdsqrux54zu" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=cri4tcsmdsqrux54zu" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=cri4tcsmdsqrux54zu" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=cri4tcsmdsqrux54zu" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=cri4tcsmdsqrux54zu" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=cri4tcsmdsqrux54zu&amp;name=cri4tCSmDsQRuX54Zu&amp;email=yKqaaNd2g6F31LaLromaaL6sosbXoGqpe4mhqqeKhKW9bWWO2GGTo6A-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=cri4tcsmdsqrux54zu" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=cri4tcsmdsqrux54zu" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=cri4tcsmdsqrux54zu" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=cri4tcsmdsqrux54zu" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_num">2</td>
                            <td><a href="./point_list.php?sfl=mb_id&amp;stx=cri4tcsmdsqrux54zu">1,000</a></td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">예</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_category"></td>
                        </tr>
                        <tr>
                            <td class="td_mbid">caaiv5ft2q3tggcngpwb</td>
                            <td class="td_mbname">CAAIV5FT2Q3tGGcngPwB</td>
                            <td class="td_mbname sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=caaiv5ft2q3tggcngpwb" class="sv_member" title="CAAIV5FT2Q3tGGcngPwB 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/img/no_profile.gif" alt="no_profile" width="22" height="22"></span> CAAIV5FT2Q3tGGcngPwB</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=caaiv5ft2q3tggcngpwb" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=caaiv5ft2q3tggcngpwb&amp;name=CAAIV5FT2Q3tGGcngPwB&amp;email=qHlyfblodohlspitgHjIosuH2aWlend2gYxprIhrg2PZf3iX0ZqAq3WPyKim" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=caaiv5ft2q3tggcngpwb" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=caaiv5ft2q3tggcngpwb" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=caaiv5ft2q3tggcngpwb" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=caaiv5ft2q3tggcngpwb" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=caaiv5ft2q3tggcngpwb" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=caaiv5ft2q3tggcngpwb&amp;name=CAAIV5FT2Q3tGGcngPwB&amp;email=qHlyfblodohlspitgHjIosuH2aWlend2gYxprIhrg2PZf3iX0ZqAq3WPyKim" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=caaiv5ft2q3tggcngpwb" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=caaiv5ft2q3tggcngpwb" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=caaiv5ft2q3tggcngpwb" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=caaiv5ft2q3tggcngpwb" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_num">2</td>
                            <td><a href="./point_list.php?sfl=mb_id&amp;stx=caaiv5ft2q3tggcngpwb">1,000</a></td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_boolean">예</td>
                            <td class="td_boolean">아니오</td>
                            <td class="td_category"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="btn_list03 btn_list">
                <a href="./member_list.php">회원 전체보기</a>
            </div>
        </section>


        <section>
            <h2>최근게시물</h2>

            <div class="tbl_head01 tbl_wrap">
                <table>
                    <caption>최근게시물</caption>
                    <thead>
                        <tr>
                            <th scope="col">그룹</th>
                            <th scope="col">게시판</th>
                            <th scope="col">제목</th>
                            <th scope="col">이름</th>
                            <th scope="col">일시</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/new.php?gr_id=community">커뮤니티</a></td>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free">자유게시판</a></td>
                            <td><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free&amp;wr_id=195#c_197">댓글. 제목</a></td>
                            <td class="td_mbname">
                                <div></div>
                            </td>
                            <td class="td_datetime"></td>
                        </tr>


                        <tr>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/new.php?gr_id=community">커뮤니티</a></td>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free">자유게시판</a></td>
                            <td><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free&amp;wr_id=195#c_196">댓글. 제목</a></td>
                            <td class="td_mbname">
                                <div>이름이름</div>
                            </td>
                            <td class="td_datetime">2024-07-22</td>
                        </tr>


                        <tr>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/new.php?gr_id=community">커뮤니티</a></td>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free">자유게시판</a></td>
                            <td><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free&amp;wr_id=195">제목</a></td>
                            <td class="td_mbname">
                                <div>작성자</div>
                            </td>
                            <td class="td_datetime">2024-07-22</td>
                        </tr>


                        <tr>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/new.php?gr_id=community">커뮤니티</a></td>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free">자유게시판</a></td>
                            <td><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free&amp;wr_id=194">제목</a></td>
                            <td class="td_mbname">
                                <div>작성자</div>
                            </td>
                            <td class="td_datetime">2024-07-22</td>
                        </tr>


                        <tr>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/new.php?gr_id=community">커뮤니티</a></td>
                            <td class="td_category"><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free">자유게시판</a></td>
                            <td><a href="http://127.0.0.1/g5-update/bbs/board.php?bo_table=free&amp;wr_id=193">제목</a></td>
                            <td class="td_mbname">
                                <div>작성자</div>
                            </td>
                            <td class="td_datetime">2024-07-22</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="btn_list03 btn_list">
                <a href="http://127.0.0.1/g5-update/bbs/new.php">최근게시물 더보기</a>
            </div>
        </section>


        <section>
            <h2>최근 포인트 발생내역</h2>
            <div class="local_desc02 local_desc">
                전체 292 건 중 5건 목록
            </div>

            <div class="tbl_head01 tbl_wrap">
                <table>
                    <caption>최근 포인트 발생내역</caption>
                    <thead>
                        <tr>
                            <th scope="col">회원아이디</th>
                            <th scope="col">이름</th>
                            <th scope="col">닉네임</th>
                            <th scope="col">일시</th>
                            <th scope="col">포인트 내용</th>
                            <th scope="col">포인트</th>
                            <th scope="col">포인트합</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="td_mbid"><a href="./point_list.php?sfl=mb_id&amp;stx=admin">admin</a></td>
                            <td class="td_mbname">최고관리자</td>
                            <td class="td_name sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" class="sv_member" title="최고관리자 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/data/member/ad/admin.gif?1722411276" width="22" height="22" alt=""></span> 최고관리자</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_datetime">2024-08-12 11:42:09</td>
                            <td>2024-08-12 첫로그인</td>
                            <td class="td_numbig">100</td>
                            <td class="td_numbig">8,706</td>
                        </tr>


                        <tr>
                            <td class="td_mbid"><a href="./point_list.php?sfl=mb_id&amp;stx=admin">admin</a></td>
                            <td class="td_mbname">최고관리자</td>
                            <td class="td_name sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" class="sv_member" title="최고관리자 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/data/member/ad/admin.gif?1722411276" width="22" height="22" alt=""></span> 최고관리자</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_datetime">2024-08-12 11:42:08</td>
                            <td>포인트 소멸</td>
                            <td class="td_numbig">-300</td>
                            <td class="td_numbig">8,606</td>
                        </tr>


                        <tr>
                            <td class="td_mbid"><a href="./point_list.php?sfl=mb_id&amp;stx=admin">admin</a></td>
                            <td class="td_mbname">최고관리자</td>
                            <td class="td_name sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" class="sv_member" title="최고관리자 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/data/member/ad/admin.gif?1722411276" width="22" height="22" alt=""></span> 최고관리자</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_datetime">2024-08-09 10:54:32</td>
                            <td>2024-08-09 첫로그인</td>
                            <td class="td_numbig">100</td>
                            <td class="td_numbig">8,906</td>
                        </tr>


                        <tr>
                            <td class="td_mbid"><a href="./point_list.php?sfl=mb_id&amp;stx=admin">admin</a></td>
                            <td class="td_mbname">최고관리자</td>
                            <td class="td_name sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" class="sv_member" title="최고관리자 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/data/member/ad/admin.gif?1722411276" width="22" height="22" alt=""></span> 최고관리자</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_datetime">2024-08-09 10:54:31</td>
                            <td>포인트 소멸</td>
                            <td class="td_numbig">-200</td>
                            <td class="td_numbig">8,806</td>
                        </tr>


                        <tr>
                            <td class="td_mbid"><a href="./point_list.php?sfl=mb_id&amp;stx=admin">admin</a></td>
                            <td class="td_mbname">최고관리자</td>
                            <td class="td_name sv_use">
                                <div><span class="sv_wrap"><a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" class="sv_member" title="최고관리자 자기소개" target="_blank" rel="nofollow" onclick="return false;"><span class="profile_img"><img src="http://127.0.0.1/g5-update/data/member/ad/admin.gif?1722411276" width="22" height="22" alt=""></span> 최고관리자</a><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                            <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                            <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                            <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span><noscript class="sv_nojs"><span class="sv"><a href="http://127.0.0.1/g5-update/bbs/memo_form.php?me_recv_mb_id=admin" rel="nofollow" onclick="win_memo(this.href); return false;">쪽지보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/formmail.php?mb_id=admin&amp;name=%EC%B5%9C%EA%B3%A0%EA%B4%80%EB%A6%AC%EC%9E%90&amp;email=xpyendFzkaeXx5OcqJ4-" onclick="win_email(this.href); return false;" rel="nofollow">메일보내기</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin" onclick="win_profile(this.href); return false;" rel="nofollow">자기소개</a>
                                                <a href="http://127.0.0.1/g5-update/bbs/new.php?mb_id=admin" class="link_new_page" onclick="check_goto_new(this.href, event);" rel="nofollow">전체게시물</a>
                                                <a href="http://127.0.0.1/g5-update/adm/member_form.php?w=u&amp;mb_id=admin" target="_blank" rel="nofollow">회원정보변경</a>
                                                <a href="http://127.0.0.1/g5-update/adm/point_list.php?sfl=mb_id&amp;stx=admin" target="_blank" rel="nofollow">포인트내역</a></span></noscript></span></div>
                            </td>
                            <td class="td_datetime">2024-08-06 10:39:41</td>
                            <td>2024-08-06 첫로그인</td>
                            <td class="td_numbig">100</td>
                            <td class="td_numbig">9,006</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="btn_list03 btn_list">
                <a href="./point_list.php">포인트내역 전체보기</a>
            </div>
        </section>


        <noscript>
            <p>
                귀하께서 사용하시는 브라우저는 현재 <strong>자바스크립트를 사용하지 않음</strong>으로 설정되어 있습니다.<br>
                <strong>자바스크립트를 사용하지 않음</strong>으로 설정하신 경우는 수정이나 삭제시 별도의 경고창이 나오지 않으므로 이점 주의하시기 바랍니다.
            </p>
        </noscript>

    </div>
{% endblock content %}