{% extends "/admin/_layout.html" %}
{% from "macro.html" import selected, checked %}

{% block content %}
<h1 id="container_title">회원 > 회원설정 > 기본환경설정</h1>
<div class="container_wr">
    <form name="form_member_config" id="form_member_config" method="post" action="{{ url_for('admin.member-config.update') }}"
        onsubmit="return validate_member_config_form(this);">
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

        <section id="anchor_signup">
            <h2 class="h2_frm">회원가입 입력 설정</h2>
            <ul class="anchor">
                <li><a href="#anchor_signup">회원가입 입력 설정</a></li>
                <li><a href="#anchor_privacy">개인정보처리</a></li>
                <li><a href="#anchor_auth">인증 설정</a></li>
                <li><a href="#anchor_point">포인트 설정</a></li>
            </ul>

            <div class="local_desc02 local_desc">
                도움말
            </div>

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>회원가입 입력 설정</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">주소 입력</th>
                            <td>
                                <input type="checkbox" name="use_address" value="1" id="use_address" {{ checked(1, member_config.use_address) }}>
                                <label for="use_address">사용</label>
                                <input type="checkbox" name="required_address" value="1" id="required_address" {{ checked(1, member_config.required_address) }}>
                                <label for="required_address">필수입력</label>
                            </td>
                            <th scope="row">서명 입력</th>
                            <td>
                                <input type="checkbox" name="use_signature" value="1" id="use_signature" {{ checked(1, member_config.use_signature) }}>
                                <label for="use_signature">사용</label>
                                <input type="checkbox" name="required_signature" value="1" id="required_signature" {{ checked(1, member_config.required_signature) }}>
                                <label for="required_signature">필수입력</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">전화번호 입력</th>
                            <td>
                                <input type="checkbox" name="use_telephone" value="1" id="use_telephone" {{ checked(1, member_config.use_telephone) }}>
                                <label for="use_telephone">사용</label>
                                <input type="checkbox" name="required_telephone" value="1" id="required_telephone" {{ checked(1, member_config.required_telephone) }}>
                                <label for="required_telephone">필수입력</label>
                            </td>
                            <th scope="row">휴대폰번호 입력</th>
                            <td>
                                <input type="checkbox" name="use_phone" value="1" id="use_phone" {{ checked(1, member_config.use_phone) }}>
                                <label for="use_phone">사용</label>
                                <input type="checkbox" name="required_phone" value="1" id="required_phone" {{ checked(1, member_config.required_phone) }}>
                                <label for="required_phone">필수입력</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="signup_level">회원가입 레벨</label></th>
                            <td>
                                <select id="signup_level" name="signup_level">
                                    {% for i in range(1, 9) %}
                                    <option value="{{ i }}" {{ selected(i, member_config.signup_level) }}>{{ i }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <th scope="row"><label for="signup_point">회원가입 포인트</label></th>
                            <td>
                                <input type="text" name="signup_point" value="{{ member_config.signup_point }}"
                                    id="signup_point" class="frm_input" size="5"> 점
                            </td>
                        </tr>

                        <tr>
                            <th scope="row"><label for="use_member_image">회원이미지 사용</label></th>
                            <td>
                                <label for="use_member_image_1" class="rules_label">사용</label>
                                <input name="use_member_image" id="use_member_image_1" type="radio" value="1" {{ member_config.use_member_image == 1 ? 'checked' : '' }}>
                                <label for="use_member_image_0" class="rules_label">사용안함</label>
                                <input name="use_member_image" id="use_member_image_0" type="radio" value="0" {{ member_config.use_member_image == 0 ? 'checked' : '' }}>
                            </td>
                            <th scope="row"><label for="upload_permission_level">회원 이미지 업로드 권한</label></th>
                            <td>
                                <select id="upload_permission_level" name="upload_permission_level">
                                    {% for i in range(2, 10) %}
                                    <option value="{{ i }}" {{ selected(i, member_config.upload_permission_level) }}>
                                        {{ i }}
                                    </option>
                                    {% endfor %}
                                </select>
                                이상
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="member_image_size">회원이미지 용량</label></th>
                            <td>
                                <input type="text" name="member_image_size" value="{{ member_config.member_image_size }}" id="member_image_size" class="frm_input" size="10"> byte 이하
                            </td>
                            <th scope="row">회원이미지 사이즈</th>
                            <td>
                                <label for="member_image_width">가로</label>
                                <input type="text" name="member_image_width" value="{{ member_config.member_image_width }}" id="member_image_width"
                                    class="frm_input" size="2">
                                <label for="member_image_height">세로</label>
                                <input type="text" name="member_image_height" value="{{ member_config.member_image_height }}" id="member_image_height"
                                    class="frm_input" size="2">
                                픽셀 이하
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="use_recommend">추천인 사용</label></th>
                            <td>
                                <label for="use_recommend_1" class="rules_label">사용</label>
                                <input name="use_recommend" id="use_recommend_1" type="radio" value="1" {{ member_config.use_recommend == 1 ? 'checked' : '' }}>
                                <label for="use_recommend_0" class="rules_label">사용안함</label>
                                <input name="use_recommend" id="use_recommend_0" type="radio" value="0" {{ member_config.use_recommend == 0 ? 'checked' : '' }}>
                            </td>
                            <th scope="row"><label for="recommend_point">추천인 포인트</label></th>
                            <td>
                                <input type="text" name="recommend_point" value="{{ member_config.recommend_point }}" id="recommend_point" class="frm_input"> 점
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="prohibit_id">아이디,닉네임 금지단어</label></th>
                            <td>
                                <span class="frm_info">
                                    회원아이디, 닉네임으로 사용할 수 없는 단어를 정합니다. 엔터로 구분
                                </span>
                                <textarea name="prohibit_word" id="prohibit_word" rows="5">{{ member_config.prohibit_word }}</textarea>
                            </td>
                            <th scope="row"><label for="prohibit_email">입력 금지 메일</label></th>
                            <td>
                                <span class="frm_info">
                                    입력 받지 않을 도메인을 지정합니다. 엔터로 구분 ex) hotmail.com
                                </span>
                                <textarea name="prohibit_domain" id="prohibit_domain" rows="5">{{ member_config.prohibit_domain }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="signup_terms">회원가입약관</label></th>
                            <td colspan="3">
                                <textarea name="signup_terms" id="signup_terms" rows="10">{{ member_config.signup_terms }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="privacy_policy">개인정보처리방침</label></th>
                            <td colspan="3">
                                <textarea id="privacy_policy" name="privacy_policy" rows="10">{{ member_config.privacy_policy }}</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_privacy">
            <h2 class="h2_frm">회원가입 입력 설정</h2>
            <ul class="anchor">
                <li><a href="#anchor_signup">회원가입 입력 설정</a></li>
                <li><a href="#anchor_privacy">개인정보처리</a></li>
                <li><a href="#anchor_auth">인증 설정</a></li>
                <li><a href="#anchor_point">포인트 설정</a></li>
            </ul>

            <div class="local_desc02 local_desc">
                도움말
            </div>

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>개인정보처리</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row" id="th310"><label for="retention_period">회원탈퇴후 삭제일</label></th>
                            <td colspan="3">
                                <select name="retention_period" id="retention_period">
                                    <option value="0" {{ selected(0, member_config.retention_period) }}>탈퇴후 즉시 삭제</option>
                                    {% for i in range(1, 5) %}
                                    <option value="{{ i }}" {{ selected(i, member_config.retention_period) }}>{{ i }}년</option>
                                    {% endfor %}
                                    <option value="9999" {{ selected(9999, member_config.retention_period) }}>영구보관</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_auth">
            <h2 class="h2_frm">인증 설정</h2>
            <ul class="anchor">
                <li><a href="#anchor_signup">회원가입 입력 설정</a></li>
                <li><a href="#anchor_privacy">개인정보처리</a></li>
                <li><a href="#anchor_auth">인증 설정</a></li>
                <li><a href="#anchor_point">포인트 설정</a></li>
            </ul>

            <div class="local_desc02 local_desc">
                도움말
            </div>

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>인증 설정</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="use_email_certify">메일인증 사용</label></th>
                            <td>
                                <span class="frm_info">
                                    메일에 배달된 인증 주소를 클릭하여야 회원으로 인정합니다.
                                    <br>( SNS를 이용한 소셜로그인 한 회원은 회원메일인증을 하지 않습니다. 일반회원에게만 해당됩니다. )
                                </span>
                                <label for="use_email_certify_1" class="rules_label">사용</label>
                                <input name="use_email_certify" id="use_email_certify_1" type="radio" value="1" {{ member_config.use_email_certify == 1 ? 'checked' : '' }}>
                                <label for="use_email_certify_0" class="rules_label">사용안함</label>
                                <input name="use_email_certify" id="use_email_certify_0" type="radio" value="0" {{ member_config.use_email_certify == 0 ? 'checked' : '' }}>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">본인인증</th>
                            <td>
                                <label for="use_authentication_1" class="rules_label">사용</label>
                                <input name="use_authentication" id="use_authentication_1" type="radio" value="1" {{ member_config.use_authentication == 1 ? 'checked' : '' }}>
                                <label for="use_authentication_0" class="rules_label">사용안함</label>
                                <input name="use_authentication" id="use_authentication_0" type="radio" value="0" {{ member_config.use_authentication == 0 ? 'checked' : '' }}>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">본인인증 테스트</th>
                            <td>
                                <label for="is_auth_production_0" class="rules_label">테스트</label>
                                <input name="is_auth_production" id="is_auth_production_0" type="radio" value="0" {{ member_config.is_auth_production == 0 ? 'checked' : '' }}>
                                <label for="is_auth_production_1" class="rules_label">실제 사용</label>
                                <input name="is_auth_production" id="is_auth_production_1" type="radio" value="1" {{ member_config.is_auth_production == 1 ? 'checked' : '' }}>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">본인인증 필수</th>
                            <td>
                                <span class="frm_info">
                                    회원가입 때 본인확인을 필수로 할지 설정합니다.
                                    <br>필수로 설정하시면 본인확인을 하지 않은 경우 회원가입이 안됩니다.
                                </span>
                                <label for="authentication_required_0" class="rules_label">선택</label>
                                <input name="authentication_required" id="authentication_required_0" type="radio" value="0" {{ member_config.authentication_required == 0 ? 'checked' : '' }}>
                                <label for="authentication_required_1" class="rules_label">필수</label>
                                <input name="authentication_required" id="authentication_required_1" type="radio" value="1" {{ member_config.authentication_required == 1 ? 'checked' : '' }}>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="auth_service">본인인증 서비스</label></th>
                            <td>
                                <select name="auth_service" id="auth_service" onchange="updateAuthService()">
                                    <option value="">선택하세요</option>
                                    <option value="kg" {{ selected('kg', member_config.auth_service) }}>KG이니시스 통합인증(간편인증)</option>
                                    <option value="kcp" {{ selected('kcp', member_config.auth_service) }}>NHN KCP 휴대폰 본인확인</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="kg_service" style="display: none;">
                            <th scope="row">KG이니시스 통합인증 암호화</th>
                            <td>
                                <label for="cert_service_1" class="rules_label">사용</label>
                                <input name="cert_service" id="cert_service_1" type="radio" value="1" {{ member_config.cert_service == 1 ? 'checked' : '' }}>
                                <label for="cert_service_0" class="rules_label">사용안함</label>
                                <input name="cert_service" id="cert_service_0" type="radio" value="0" {{ member_config.cert_service == 0 ? 'checked' : '' }}>
                            </td>
                        </tr>
                        <tr class="kg_service" style="display: none;">
                            <th scope="row" class="cert_service"><label for="cert_kg_mid">KG이니시스 간편인증 MID</label>
                            </th>
                            <td class="cert_service">
                                <span class="sitecode">SRA</span>
                                <input type="text" name="cert_kg_mid" value="{{ member_config.cert_kg_mid }}" id="cert_kg_mid" class="frm_input" size="10" minlength="7" maxlength="7">
                                <a href="http://sir.kr/main/service/inicis_cert_form.php" target="_blank" class="btn_frmline">
                                    KG이니시스 통합인증(간편인증) 신청페이지
                                </a>
                            </td>
                        </tr>
                        <tr class="kg_service" style="display: none;">
                            <th scope="row" class="cert_service"><label for="cert_kg_cd">KG이니시스 통합인증 API KEY</label></th>
                            <td class="cert_service">
                                <input type="password" name="cert_kg_cd" value="{{ member_config.cert_kg_cd }}" id="cert_kg_cd" class="frm_input" size="40" minlength="32" maxlength="32">
                                <!-- @todo 최고관리자 조건 추가 & 개발자모드에서도 key 확인 못하도록 ? 처리(파악 필요) -->
                                <button type="button" class="btn_frmline" onclick="toggleApiKey();">API KEY 확인</button>
                            </td>
                        </tr>
                        <tr class="kcp_service" style="display: none;">
                            <th scope="row" class="cert_service"><label for="cert_kcp_cd">NHN KCP 사이트코드</label>
                            </th>
                            <td class="cert_service">
                                <span class="frm_info">
                                    SM으로 시작하는 5자리 사이트 코드중 뒤의 3자리만 입력해 주십시오.
                                    <br>서비스에 가입되어 있지 않다면, 본인확인 서비스 신청페이지에서 서비스 신청 후 사이트코드를 발급 받으실 수 있습니다.
                                </span>
                                <span class="sitecode">SM</span>
                                <input type="text" name="cert_kcp_cd" value="{{ member_config.cert_kcp_cd }}" id="cert_kcp_cd" class="frm_input" size="3">
                                <a href="http://sir.kr/main/service/p_cert.php" target="_blank" class="btn_frmline">
                                    NHN KCP 휴대폰 본인확인 서비스 신청페이지
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="cert_service"><label for="cert_limit">본인확인 이용제한</label></th>
                            <td class="cert_service">
                                <span class="frm_info">
                                    1일 단위 본인인증을 시도할 수 있는 최대횟수를 지정합니다. (0으로 설정 시 무한으로 인증시도 가능)
                                    <br>아이핀/휴대폰/간편인증에서 개별 적용됩니다.
                                </span>
                                <input type="text" name="cert_limit" value="{{ member_config.cert_limit }}" id="cert_limit" class="frm_input" size="3"> 회
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_point">
            <h2 class="h2_frm">포인트 설정</h2>
            <ul class="anchor">
                <li><a href="#anchor_signup">회원가입 입력 설정</a></li>
                <li><a href="#anchor_privacy">개인정보처리</a></li>
                <li><a href="#anchor_auth">인증 설정</a></li>
                <li><a href="#anchor_point">포인트 설정</a></li>
            </ul>

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>사업자정보</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="use_point">포인트 사용</label></th>
                            <td>
                                <input type="checkbox" name="use_point" value="1" id="use_point" {{ checked(1, member_config.use_point) }}>
                                사용
                            </td>
                            <th scope="row"><label for="point_term">포인트 유효기간</label></th>
                            <td>
                                <span class="frm_info">
                                    기간을 0으로 설정시 포인트 유효기간이 적용되지 않습니다.
                                </span>
                                <input type="text" name="point_term" value="{{ member_config.point_term }}" id="point_term" required class="required frm_input" size="5"> 일
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="login_point">로그인시 포인트<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <span class="frm_info">
                                    회원이 로그인시 하루에 한번만 적립
                                </span>
                                <input type="text" name="login_point" value="{{ member_config.login_point }}" id="login_point" required class="required frm_input" size="5"> 점
                            </td>
                            <th scope="row"><label for="memo_send_point">쪽지보낼시 차감 포인트<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <span class="frm_info">
                                    양수로 입력하십시오. 0점은 쪽지 보낼시 포인트를 차감하지 않습니다.
                                </span>
                                <input type="text" name="memo_send_point" value="{{ member_config.memo_send_point }}" id="memo_send_point" required class="required frm_input" size="5"> 점
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div class="btn_fixed_top btn_confirm">
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>

    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        updateAuthService();
    });

    function validate_member_config_form(f) {
        return true;
    }

    function updateAuthService() {
        var authService = document.getElementById('auth_service').value;
        
        // Hide all service-specific rows
        document.querySelectorAll('tr[class="kg_service"]').forEach(function(row) {
            row.style.display = 'none';
        });
        document.querySelectorAll('tr[class="kcp_service"]').forEach(function(row) {
            row.style.display = 'none';
        });
        
        // Show rows based on selected auth service
        if (authService === 'kg') {
            document.querySelectorAll('tr[class="kg_service"]').forEach(function(row) {
                row.style.display = '';
            });
        } else if (authService === 'kcp') {
            document.querySelectorAll('tr[class="kcp_service"]').forEach(function(row) {
                row.style.display = '';
            });
        }
    }

    function toggleApiKey() {
        var apiKeyInput = document.getElementById('cert_kg_cd');
        
        if (apiKeyInput.type === 'password') {
            apiKeyInput.type = 'text';
            this.textContent = 'API KEY 숨기기';
        } else {
            apiKeyInput.type = 'password';
            this.textContent = 'API KEY 확인';
        }
    }
</script>
{% endblock content %}