{% extends "/admin/_layout.html" %}
{% from "macro.html" import checked, member_icon, renderPagination, selected %}

{% set title = '회원 > 포인트 관리' %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <div class="local_ov01 local_ov">
        <a href="{{ url_for('admin.member.point') }}" class="ov_listall">전체목록</a>
        <span class="btn_ov01">
            <span class="ov_txt">전체</span>
            <span class="ov_num"> {{ total_count|format_number }}건 </span>
        </span>
        <span class="btn_ov01">
            <span class="ov_txt">전체 합계</span>
            <span class="ov_num"> {{ total_point|format_number }}점 </span>
        </span>
    </div>

    <form name="fsearch" id="fsearch" class="local_sch01 local_sch" method="get">
        <label for="field" class="sound_only">검색대상</label>
        <select name="field" id="field">
            <option value="mb_id" {{ selected('mb_id', search.field) }}>회원아이디</option>
            <option value="po_content" {{ selected('po_content', search.field) }}>내용</option>
        </select>
        <label for="keyword" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
        <input type="text" id="keyword" name="keyword" class="required frm_input" value="{{ search.keyword }}" required>
        <input type="submit" class="btn_submit" value="검색">
    </form>

    <form name="point_list_form" id="point_list_form" method="post" action="{{ url_for('admin.member.point.delete.list', {}, query_params) }}" onsubmit="return validate_point_list_form(this);">
        {{ csrf.field|raw }}

        <div class="tbl_head01 tbl_wrap">
            <table>
                <caption>{{ title }}</caption>
                <thead>
                    <tr>
                        <th scope="col">
                            <label for="chkall" class="sound_only">포인트 내역 전체</label>
                            <input type="checkbox" name="chkall" value="1" id="chkall" onclick="check_all(this.form)">
                        </th>
                        <th scope="col">회원아이디</th>
                        <th scope="col">이름</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">포인트 내용</th>
                        <th scope="col">포인트</th>
                        <th scope="col">일시</th>
                        <th scope="col">만료일</th>
                        <th scope="col">포인트합</th>
                        <th scope="col">관리</th>
                    </tr>
                </thead>
                <tbody>
                    {% for point in points %}
                    <tr class="bg{{ cycle(['0', '1'], loop.index0) }}">
                        <td class="td_chk">
                            <input type="hidden" name="mb_id[{{ point.po_id }}]" value="{{ point.mb_id }}">
                            <label for="chk_{{ loop.index0 }}" class="sound_only">{{ point.po_content }}</label>
                            <input type="checkbox" id="chk_{{ loop.index0 }}" name="chk[]" value="{{ point.po_id }}">
                        </td>
                        <td class="td_left"><a href="?field=mb_id&amp;keyword={{ point.mb_id }}">{{ point.mb_id }}</a></td>
                        <td class="td_left">{{ point.mb_nick }}</td>
                        <td class="td_left sv_use">
                            <div>
                                <span class="sv_wrap">
                                    <span class="profile_img">
                                        {{ member_icon(point.mb_image, point.mb_nick) }}
                                    </span>
                                    {{ point.mb_nick }}
                                </span>
                            </div>
                        </td>
                        <td class="td_left">{{ point.po_content }}</td>
                        <td class="td_num td_pt">{{ point.po_point|format_number }}</td>
                        <td class="td_datetime">{{ point.created_at }}</td>
                        <td class="td_datetime2">{{ point.po_expire_date ?? '없음' }}</td>
                        <td class="td_num td_pt">{{ point.po_mb_point|format_number }}</td>
                        <td class="td_mng td_pt">
                            {% if not point.po_expired %}
                            <a href="{{ url_for('admin.member.point.update', {'po_id': point.po_id}) }}"
                                onclick="expired_point(this.href); return false;" class="btn btn_02">만료</a>
                            {% endif %}
                            <button type="button" class="btn btn_01" onclick="delete_confirm(this.getAttribute('data-url')); return false;"
                                data-url="{{ url_for('admin.member.point.delete', {'po_id': point.po_id}) }}">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="btn_fixed_top">
            <input type="submit" name="act_button" value="선택삭제" onclick="document.pressed=this.value"
                class="btn btn_02">
        </div>

    </form>

    {{ renderPagination(pagination, query_string) }}

    <section id="point_mng">
        <h2 class="h2_frm">개별회원 포인트 증감 설정</h2>

        <form id="form_point" name="form_point" method="post" action="{{ url_for('admin.member.point.insert', {}, query_params) }}" autocomplete="off">
            {{ csrf.field|raw }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="mb_id">회원아이디<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <input type="text" name="mb_id" value="" id="mb_id" class="required frm_input" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="po_content">포인트 내용<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <input type="text" name="po_content" id="po_content" class="required frm_input" size="80" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="po_point">포인트<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <input type="text" name="po_point" id="po_point" class="required frm_input" required>
                            </td>
                        </tr>
                        {% if point_term > 0 %}
                        <tr>
                            <th scope="row"><label for="po_expire_term">포인트 유효기간</label></th>
                            <td>
                                <input type="text" name="po_expire_term" value="{{ point_term }}" id="po_expire_term" class="frm_input" size="5"> 일
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="btn_confirm01 btn_confirm">
                <input type="submit" value="확인" class="btn_submit btn">
            </div>
        </form>
    </section>
</div>

<script>
    function expired_point(href) {
        if (!confirm("포인트를 만료 처리하시겠습니까?")) {
            return false;
        }

        $.ajax({
            type: "PUT",
            url: href,
            beforeSend: function (xhr) {
                for (let key in csrf) {
                    if (!csrf[key]) {
                        alert("CSRF 토큰이 유효하지 않습니다. 새로고침 후 다시 시도해 주세요.");
                        return false;
                    }
                    xhr.setRequestHeader(key, csrf[key]);
                }
            },
            cache: false,
            async: false,
            success: function (data) {
                if (data.message) {
                    alert(data.message);
                }
                document.location.reload();
            },
            error: function (xhr, status, error) {
                let result = xhr.responseJSON;
                alert(xhr.status + ' ' + error + ': ' + result.error.message);
            }
        });
    }

    function validate_point_list_form(f) {
        if (!is_checked("chk[]")) {
            alert(document.pressed + " 하실 항목을 하나 이상 선택하세요.");
            return false;
        }

        if (!confirm("선택한 자료를 정말 삭제하시겠습니까?")) {
            return false;
        }

        return true;
    }
</script>
{% endblock %}