{% extends "/admin/_layout.html" %}
{% from "macro.html" import selected %}

{% block content %}
{% set form_action = popup ? url_for('admin.design.popup.update', {'pu_id': popup.pu_id}) : url_for('admin.design.popup.insert') %}
{% set action = popup ? '수정' : '추가' %}

<h1 id="container_title">팝업레이어 입력</h1>
<div class="container_wr">
    <form name="form_popup" action="{{ form_action }}" onsubmit="return validate_form(this);" method="post">
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">

        <div class="local_desc01 local_desc">
            <p>초기화면 접속 시 자동으로 뜰 팝업레이어를 설정합니다.</p>
        </div>

        <div class="tbl_frm01 tbl_wrap">
            <table>
                <caption>팝업레이어 입력</caption>
                <colgroup>
                    <col class="grid_4">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><label for="pu_division">구분</label></th>
                        <td>
                            <span class="frm_info">커뮤니티에 표시될 것인지 쇼핑몰에 표시될 것인지를 설정합니다.</span>
                            <select name="pu_division" id="pu_division">
                                <option value="community" {{ selected('community', popup.pu_division) }}>커뮤니티</option>
                                <option value="shop" {{ selected('shop', popup.pu_division) }}>쇼핑몰</option>
                                <option value="both" {{ selected('both', popup.pu_division) }}>모두</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_disable_hours">시간<strong class="sound_only"> 필수</strong></label>
                        </th>
                        <td>
                            <span class="frm_info">
                                고객이 다시 보지 않음을 선택할 시 몇 시간동안 팝업레이어를 보여주지 않을지 설정합니다.
                            </span>
                            <input type="text" class="frm_input required" name="pu_disable_hours" value="{{ popup.pu_disable_hours }}" id="pu_disable_hours" size="5" required> 시간
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_begin_time">시작일시<strong class="sound_only"> 필수</strong></label>
                        </th>
                        <td>
                            <input type="text" name="pu_begin_time" value="{{ popup.pu_begin_time }}" id="pu_begin_time" required class="frm_input required" size="21" maxlength="19">
                            <input type="checkbox" name="set_start_time" value="" id="set_start_time">
                            <label for="set_start_time">시작일시를 오늘로</label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_end_time">종료일시<strong class="sound_only"> 필수</strong></label>
                        </th>
                        <td>
                            <input type="text" name="pu_end_time" value="{{ popup.pu_end_time }}" id="pu_end_time" required class="frm_input required" size="21" maxlength="19">
                            <input type="checkbox" name="set_end_time" value="" id="set_end_time">
                            <label for="pu_end_chk">종료일시를 오늘로부터 7일 후로</label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_left">팝업레이어 좌측 위치<strong class="sound_only"> 필수</strong></label>
                        </th>
                        <td>
                            <input type="text" name="pu_left" value="{{ popup.pu_left }}" id="pu_left" required class="frm_input required" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_top">팝업레이어 상단 위치<strong class="sound_only"> 필수</strong></label>
                        </th>
                        <td>
                            <input type="text" name="pu_top" value="{{ popup.pu_top }}" id="pu_top" required class="frm_input required" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_width">팝업레이어 넓이<strong class="sound_only"> 필수</strong></label>
                        </th>
                        <td>
                            <input type="text" name="pu_width" value="{{ popup.pu_width }}" id="pu_width" required class="frm_input required" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_height">팝업레이어 높이<strong class="sound_only"> 필수</strong></label>
                        </th>
                        <td>
                            <input type="text" name="pu_height" value="{{ popup.pu_height }}" id="pu_height" required class="frm_input required" size="5"> px
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="pu_subject">팝업 타이틀<strong class="sound_only"> 필수</strong></label>
                        </th>
                        <td>
                            <input type="text" name="pu_subject" value="{{ popup.pu_subject }}" id="pu_subject" required class="frm_input required" size="80">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_content">내용</label></th>
                        <td><textarea name="pu_content">{{ popup.pu_content }}</textarea></td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="nw_content">모바일 내용</label></th>
                        <td><textarea name="pu_mobile_content">{{ popup.pu_mobile_content }}</textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="btn_fixed_top">
            <a href="{{ url_for('admin.design.popup') }}" class=" btn btn_02">목록</a>
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>
    </form>
</div>
<script>
    function validate_form(form) {
        errmsg = "";
        errfld = "";

        check_field(form.pu_subject, "제목을 입력하세요.");

        if (errmsg != "") {
            alert(errmsg);
            errfld.focus();
            return false;
        }
        return true;
    }

    /**
     * @todo 해당 코드가 banner_form.html에도 있으므로 중복을 제거할 필요가 있음
     */
    document.addEventListener('DOMContentLoaded', function () {
        const setStartTime = document.getElementById('set_start_time');
        const bnStartDatetime = document.getElementById('pu_begin_time');
        
        setStartTime.addEventListener('change', function () {
            if (this.checked) {
                const today = new Date();
                const formattedDate = formatDate(today, "00:00:00");
                bnStartDatetime.value = formattedDate;
            } else {
                bnStartDatetime.value = bnStartDatetime.defaultValue;
            }
        });
    
        const setEndTime = document.getElementById('set_end_time');
        const bnEndDatetime = document.getElementById('pu_end_time');
    
        setEndTime.addEventListener('change', function () {
            if (this.checked) {
                const futureDate = new Date();
                futureDate.setDate(futureDate.getDate() + 7);
                const formattedDate = formatDate(futureDate, "23:59:59");
                bnEndDatetime.value = formattedDate;
            } else {
                bnEndDatetime.value = bnEndDatetime.defaultValue;
            }
        });

        /**
        * 날짜를 지정된 시간과 함께 형식화하는 함수
        * @param {Date} date - Date 객체
        * @param {string} time - 고정된 시간 (예: "00:00:00" 또는 "23:59:59")
        * @returns {string} - 형식화된 날짜 문자열
        */
        function formatDate(date, time) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day} ${time}`;
        }
    });
</script>
{% endblock content %}