{% extends "/admin/_layout.html" %}
{% from "macro.html" import checked, info, selected %}

{% set title = "회원 > 1:1문의 > 환경설정" %}
{% block title %}{{ title }}{% endblock title%}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <form name="qa_config_form" id="qa_config_form" action="{{ url_for('admin.member.qa.config.update') }}"
        method="post" onsubmit="return validate_form(this);" autocomplete="off">
        <input type="hidden" name="_METHOD" value="PUT">
        {{ csrf.field|raw }}

        <section id="anc_cf_qa_config">
            <h2 class="h2_frm">환경설정</h2>
            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>환경설정</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="qa_title">타이틀<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <input type="text" name="qa_title" value="{{ old('qa_title', qa_config) }}" id="qa_title" class="frm_input" size="40">
                                <a href="#" class="btn_frmline">1:1문의 바로가기</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">분류</th>
                            <td>
                                {{ info('분류와 분류 사이는 | 로 구분하세요. (예: 질문|답변) 첫자로 #은 입력하지 마세요. (예: #질문|#답변[X])') }}
                                <input type="text" name="qa_category" value="{{ old('qa_category', qa_config) }}" id="qa_category" class="frm_input" size="70">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">이메일 입력</th>
                            <td>
                                <input type="checkbox" name="qa_use_email" value="1" id="qa_use_email" {{ checked(1, old('qa_use_email', qa_config)) }}>
                                <label for="qa_use_email">입력</label>
                                <input type="checkbox" name="qa_req_email" value="1" id="qa_req_email" {{ checked(1, old('qa_req_email', qa_config)) }}>
                                <label for="qa_req_email">필수입력</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">휴대폰 입력</th>
                            <td>
                                <input type="checkbox" name="qa_use_hp" value="1" id="qa_use_hp" {{ checked(1, old('qa_use_hp', qa_config)) }}>
                                <label for="qa_use_hp">입력</label>
                                <input type="checkbox" name="qa_req_hp" value="1" id="qa_req_hp" {{ checked(1, old('qa_req_hp', qa_config)) }}>
                                <label for="qa_req_hp">필수입력</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="qa_use_sms">SMS 알림</label></th>
                            <td>
                                {{ info('휴대폰 입력을 사용하실 경우 문의글 등록시 등록자가 답변등록시 SMS 알림 수신을 선택할 수 있도록 합니다.
                                    SMS 알림을 사용하기 위해서는 기본환경설정 &gt; <a href="' ~ url_for('admin.setting.api.notification') ~ '#anchor_sms">SMS 설정</a> 을 하셔야 합니다.
                                ', false) }}
                                <label for="qa_use_sms_1" class="rules_label">사용</label>
                                <input name="qa_use_sms" id="qa_use_sms_1" type="radio" value="1" {{ checked(1, old('qa_use_sms', qa_config)) }}>
                                <label for="qa_use_sms_0" class="rules_label">사용안함</label>
                                <input name="qa_use_sms" id="qa_use_sms_0" type="radio" value="0" {{ checked(0, old('qa_use_sms', qa_config)) }}>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="qa_send_number">SMS 발신번호</label></th>
                            <td>
                                <span class="frm_info">
                                    
                                </span>
                                {{ info('SMS 알림 전송시 발신번호로 사용됩니다.')}}
                                <input type="text" name="qa_send_number" value="{{ old('qa_send_number', qa_config) }}" id="qa_send_number" class="frm_input" size="30">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">DHTML 에디터 사용</th>
                            <td>
                                {{ info('글작성시 내용을 DHTML 에디터 기능으로 사용할 것인지 설정합니다. 스킨에 따라 적용되지 않을 수 있습니다.')}}
                                <label for="qa_use_editor_1" class="rules_label">사용</label>
                                <input name="qa_use_editor" id="qa_use_editor_1" type="radio" value="1" {{ checked(1, old('qa_use_editor', qa_config)) }}>
                                <label for="qa_use_editor_0" class="rules_label">사용안함</label>
                                <input name="qa_use_editor" id="qa_use_editor_0" type="radio" value="0" {{ checked(0, old('qa_use_editor', qa_config)) }}>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="qa_image_width">이미지 폭 크기<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <span class="frm_info">게시판에서 출력되는 이미지의 폭 크기</span>
                                <input type="text" name="qa_image_width" value="{{ old('qa_image_width', qa_config) }}" id="qa_image_width"
                                    class="numeric frm_input" size="4"> 픽셀
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="qa_upload_size">파일 업로드 용량<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <span class="frm_info">최대 40M 이하 업로드 가능, 1 MB = 1,048,576 bytes</span> 업로드 파일 한개당
                                <input type="text" name="qa_upload_size" value="{{ old('qa_upload_size', qa_config) }}" id="qa_upload_size" class="numeric frm_input" size="10"> bytes 이하
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="qa_insert_content">글쓰기 기본 내용</label></th>
                            <td>
                                <textarea id="qa_insert_content" name="qa_insert_content" rows="5">
                                    {{- old('qa_insert_content', qa_config) -}}
                                </textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div class="btn_fixed_top">
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>

    </form>
</div>

<script>
    function validate_form(f) {
        return true;
    }
</script>

{% endblock content %}