{% extends "@admin/_layout.html" %}
{% from "@admin/macro.html" import anchor, checked, info, selected %}

{% set title = '회원 > 회원설정 > 알림/푸시 설정' %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <form name="form_member_config_notification" id="form_member_config_notification" method="post" action="{{ url_for('admin.member.config.notification.update') }}"
        onsubmit="return validate_member_config_notification_form(this);">
        {{ csrf.field|raw }}
        <input type="hidden" name="_METHOD" value="PUT">

        <section>
            <div class="local_desc02 local_desc">
                도움말
            </div>

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>{{ title }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">가입 시 회원에게 발송유형</th>
                            <td>
                                <select name="notification_member_on_signup_type" id="notification_member_on_signup_type">
                                    <option value="" {{ selected('', old('notification_member_on_signup_type', configs)) }}>사용안함</option>
                                    <option value="all" {{ selected('all', old('notification_member_on_signup_type', configs)) }}>메일+알림톡(SMS)</option>
                                    <option value="mail" {{ selected('mail', old('notification_member_on_signup_type', configs)) }}>메일</option>
                                    <option value="alimtalk" {{ selected('alimtalk', old('notification_member_on_signup_type', configs)) }}>알림톡</option>
                                </select>
                            </td>
                            <th scope="row">가입 시 회원에게 알림 프리셋</th>
                            <td colspan="3">
                                {{ info('가입 시 회원에게 발송할 알림 내용을 입력하세요.\n프리셋을 수정하시는 경우 [알림톡]은 템플릿을 새로 등록하셔야 합니다.') }}
                                <textarea name="notification_member_on_signup_preset" id="notification_member_on_signup_preset" rows="5" class="frm_input">
                                    {{- old('notification_member_on_signup_preset', configs) -}}
                                </textarea>
                                <button type="button" class="btn btn_03 btn_copy_preset">복사</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">탈퇴 시 회원에게 발송유형</th>
                            <td>
                                <select name="notification_member_on_leave_type" id="notification_member_on_leave_type">
                                    <option value="" {{ selected('', old('notification_member_on_leave_type', configs)) }}>사용안함</option>
                                    <option value="all" {{ selected('all', old('notification_member_on_leave_type', configs)) }}>메일+알림톡(SMS)</option>
                                    <option value="mail" {{ selected('mail', old('notification_member_on_leave_type', configs)) }}>메일</option>
                                    <option value="alimtalk" {{ selected('alimtalk', old('notification_member_on_leave_type', configs)) }}>알림톡</option>
                                </select>
                            </td>
                            <th scope="row">탈퇴 시 회원에게 알림 프리셋</th>
                            <td colspan="3">
                                {{ info('탈퇴 시 회원에게 발송할 알림 내용을 입력하세요.\n프리셋을 수정하시는 경우 [알림톡]은 템플릿을 새로 등록하셔야 합니다.') }}
                                <textarea name="notification_member_on_leave_preset" id="notification_member_on_leave_preset" rows="5" class="frm_input">
                                    {{- old('notification_member_on_leave_preset', configs) -}}
                                </textarea>
                                <button type="button" class="btn btn_03 btn_copy_preset">복사</button>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">가입 시 운영진에게 발송유형</th>
                            <td>
                                <select name="notification_admin_on_signup_type" id="notification_admin_on_signup_type">
                                    <option value="" {{ selected('', old('notification_admin_on_signup_type', configs)) }}>사용안함</option>
                                    <option value="all" {{ selected('all', old('notification_admin_on_signup_type', configs)) }}>메일+알림톡(SMS)</option>
                                    <option value="mail" {{ selected('mail', old('notification_admin_on_signup_type', configs)) }}>메일</option>
                                    <option value="alimtalk" {{ selected('alimtalk', old('notification_admin_on_signup_type', configs)) }}>알림톡</option>
                                </select>
                            </td>
                            <th scope="row">가입 시 운영진에게 알림 프리셋</th>
                            <td colspan="3">
                                {{ info('가입 시 운영진에게 발송할 알림 내용을 입력하세요.\n프리셋을 수정하시는 경우 [알림톡]은 템플릿을 새로 등록하셔야 합니다.') }}
                                <textarea name="notification_admin_on_signup_preset" id="notification_admin_on_signup_preset" rows="5" class="frm_input">
                                    {{- old('notification_admin_on_signup_preset', configs) -}}
                                </textarea>
                                <button type="button" class="btn btn_03 btn_copy_preset">복사</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">탈퇴 시 운영진에게 발송유형</th>
                            <td>
                                <select name="notification_admin_on_leave_type" id="notification_admin_on_leave_type">
                                    <option value="" {{ selected('', old('notification_admin_on_leave_type', configs)) }}>사용안함</option>
                                    <option value="all" {{ selected('all', old('notification_admin_on_leave_type', configs)) }}>메일+알림톡(SMS)</option>
                                    <option value="mail" {{ selected('mail', old('notification_admin_on_leave_type', configs)) }}>메일</option>
                                    <option value="alimtalk" {{ selected('alimtalk', old('notification_admin_on_leave_type', configs)) }}>알림톡</option>
                                </select>
                            </td>
                            <th scope="row">탈퇴 시 운영진에게 알림 프리셋</th>
                            <td colspan="3">
                                {{ info('탈퇴 시 운영진에게 발송할 알림 내용을 입력하세요.\n프리셋을 수정하시는 경우 [알림톡]은 템플릿을 새로 등록하셔야 합니다.') }}
                                <textarea name="notification_admin_on_leave_preset" id="notification_admin_on_leave_preset" rows="5" class="frm_input">
                                    {{- old('notification_admin_on_leave_preset', configs) -}}
                                </textarea>
                                <button type="button" class="btn btn_03 btn_copy_preset">복사</button>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">가입 시 최고관리자에게 발송유형</th>
                            <td>
                                <select name="notification_superadmin_on_signup_type" id="notification_superadmin_on_signup_type">
                                    <option value="" {{ selected('', old('notification_superadmin_on_signup_type', configs)) }}>사용안함</option>
                                    <option value="all" {{ selected('all', old('notification_superadmin_on_signup_type', configs)) }}>메일+알림톡(SMS)</option>
                                    <option value="mail" {{ selected('mail', old('notification_superadmin_on_signup_type', configs)) }}>메일</option>
                                    <option value="alimtalk" {{ selected('alimtalk', old('notification_superadmin_on_signup_type', configs)) }}>알림톡</option>
                                </select>
                            </td>
                            <th scope="row">가입 시 최고관리자에게 알림 프리셋</th>
                            <td colspan="3">
                                {{ info('가입 시 최고관리자에게 발송할 알림 내용을 입력하세요.\n프리셋을 수정하시는 경우 [알림톡]은 템플릿을 새로 등록하셔야 합니다.') }}
                                <textarea name="notification_superadmin_on_signup_preset" id="notification_superadmin_on_signup_preset" rows="5" class="frm_input">
                                    {{- old('notification_superadmin_on_signup_preset', configs) -}}
                                </textarea>
                                <button type="button" class="btn btn_03 btn_copy_preset">복사</button>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">탈퇴 시 최고관리자에게 발송유형</th>
                            <td>
                                <select name="notification_superadmin_on_leave_type" id="notification_superadmin_on_leave_type">
                                    <option value="" {{ selected('', old('notification_superadmin_on_leave_type', configs)) }}>사용안함</option>
                                    <option value="all" {{ selected('all', old('notification_superadmin_on_leave_type', configs)) }}>메일+알림톡(SMS)</option>
                                    <option value="mail" {{ selected('mail', old('notification_superadmin_on_leave_type', configs)) }}>메일</option>
                                    <option value="alimtalk" {{ selected('alimtalk', old('notification_superadmin_on_leave_type', configs)) }}>알림톡</option>
                                </select>
                            </td>
                            <th scope="row">탈퇴 시 최고관리자에게 알림 프리셋</th>
                            <td colspan="3">
                                {{ info('탈퇴 시 최고관리자에게 발송할 알림 내용을 입력하세요.\n프리셋을 수정하시는 경우 [알림톡]은 템플릿을 새로 등록하셔야 합니다.') }}
                                <textarea name="notification_superadmin_on_leave_preset" id="notification_superadmin_on_leave_preset" rows="5" class="frm_input">
                                    {{- old('notification_superadmin_on_leave_preset', configs) -}}
                                </textarea>
                                <button type="button" class="btn btn_03 btn_copy_preset">복사</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div class="btn_fixed_top btn_confirm">
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>

    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 알림 프리셋 복사
        document.querySelectorAll('.btn_copy_preset').forEach(function (btn) {
            btn.addEventListener('click', function () {
                var textarea = this.previousElementSibling;
                textarea.select();
                document.execCommand('copy');
                alert('프리셋이 복사되었습니다.');
            });
        });
    });
    /**
     * 회원 알림/푸시 설정 폼 유효성 검사
     */
    function validate_member_config_notification_form(form) {
        var notificationTypes = [
            'notification_member_on_signup',
            'notification_member_on_leave',
            'notification_admin_on_signup',
            'notification_admin_on_leave',
            'notification_superadmin_on_signup',
            'notification_superadmin_on_leave'
        ];

        for (var i = 0; i < notificationTypes.length; i++) {
            var typeField = form[notificationTypes[i] + '_type'];
            var presetField = form[notificationTypes[i] + '_preset'];

            if (typeField.value !== '' && presetField.value.trim() === '') {
                var title = typeField.closest('tr').querySelector('th').innerText;
                alert(`'${title}' 프리셋을 입력해 주세요.`);
                presetField.focus();
                return false;
            }
        }

        return true;
    }
</script>
{% endblock content %}