{% extends "@admin/_layout.html" %}
{% from "@admin/macro.html" import selected %}

{% set title = "디자인/UI > 배너관리" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <div class="local_ov01 local_ov">
        <form name="form_banner_list" class="local_sch01 local_sch">
            <input type="hidden" name="bn_is_enabled" value="{{ search.bn_is_enabled }}">
            <input type="hidden" name="bn_position" value="{{ search.bn_position }}">

            <label for="keyword" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
            <input type="text" id="keyword" name="keyword" class="frm_input" value="{{ search.keyword }}" placeholder="검색어">
            <input type="submit" class="btn_submit" value="검색">

            {% with {query_params: query_params|filter((value, key) => key != 'bn_is_enabled')} %}
            <a href="{{ url_for('admin.design.banner', {}, query_params) }}"
                class="btn {{ search.bn_is_enabled is not defined ? 'btn_03' : 'btn_02' }}">
                전체
            </a>
            <a href="{{ url_for('admin.design.banner', {}, query_params|merge({bn_is_enabled: true})) }}"
                class="btn {{ search.bn_is_enabled is same as(true) ? 'btn_03' : 'btn_02' }}">
                전시중
            </a>
            <a href="{{ url_for('admin.design.banner', {}, query_params|merge({bn_is_enabled: false})) }}"
                class="btn {{ search.bn_is_enabled is same as(false) ? 'btn_03' : 'btn_02' }}">
                종료
            </a>
            {% endwith %}
        </form>
    </div>

    <div class="local_ov01 local_ov">
        {% with {query_params: query_params|filter((value, key) => key != 'bn_position')} %}
            <a href="{{ url_for('admin.design.banner', {}, query_params) }}"
               class="btn {{ search.bn_position is not defined ? 'btn_03' : 'btn_02' }}">
               전체
            </a>
            {% for position in positions %}
                <a href="{{ url_for('admin.design.banner', {}, query_params|merge({bn_position: position.id})) }}"
                   class="btn {{ search.bn_position == position.id ? 'btn_03' : 'btn_02' }}">
                   {{ position.section_title }}
                </a>
            {% endfor %}
        {% endwith %}
    </div>

    <div class="btn_fixed_top">
        <a href="#" class="btn_01 btn">전시순서 저장</a>
        <a href="{{ url_for('admin.design.banner.create') }}" class="btn_01 btn">배너추가</a>
    </div>
    
    {% for position in positions %}
    <div class="tbl_head01 tbl_wrap">
        <table>
            <caption>{{ position.section_title }}</caption>
            <thead>
                <tr>
                    <th scope="col" colspan="8" id="th_id">{{ position.section_title }}</th>
                </tr>
                <tr>
                    <th scope="col">배너 이미지</th>
                    <th scope="col">타이틀</th>
                    <th scope="col">URL</th>
                    <th scope="col">새창여부</th>
                    <th scope="col">조회수</th>
                    <th scope="col">시작/종료일시</th>
                    <th scope="col">활성화</th>
                    <th scope="col">관리</th>
                </tr>
            </thead>
            <tbody>
                {% for banner in position.banners %}
                <tr class="bg{{ cycle(['0', '1'], loop.index0) }}">
                    <td headers="th_dvc" width="200px;">
                        <a href="{{ url_for('admin.design.banner.view', {'bn_id': banner.bn_id}) }}">
                            <img src="{{ base_url ~ banner.bn_image }}" width="200" height="auto" alt="{{ banner.bn_alt }}" titke="{{ banner.bn_title }}">
                        </a>
                    </td>
                    <td headers="th_loc" width="200px;">
                        {{ banner.bn_title }}
                    </td>
                    <td headers="th_odr" width="200px;">
                        {{ banner.bn_url }}
                    </td>
                    <td headers="th_odr" class="td_num">
                        {{ banner.bn_target == '_blank' ? "새창" : "현재창" }}
                    </td>
                    <td headers="th_loc" class="td_num">
                        {{ banner.bn_hit }}
                    </td>
                    <td headers="th_st" class="td_datetime">
                        {{ banner.bn_start_datetime is empty ? "" : banner.bn_start_datetime|date("Y.m.d") }}
                        ~
                        {{ banner.bn_end_datetime is empty ? "" : banner.bn_end_datetime|date("Y.m.d") }}
                    </td>
                    <td headers="th_loc" class="td_num">
                        {{ banner.bn_is_enabled ? "활성화" : "비활성화" }}
                    </td>
                    <td headers="th_mng" width="200px;">
                        <a href="{{ url_for('admin.design.banner.view', {'bn_id': banner.bn_id}) }}" class="btn btn_03">수정</a>
                        {% if banner.is_within_date %}
                            {% if banner.bn_is_enabled %}
                            <button type="button" class="is_enabled btn btn_02" data-url="{{ url_for('admin.design.banner.enabled', {'bn_id': banner.bn_id}) }}">즉시종료</button>
                            {% else %}
                            <button type="button" class="is_enabled btn btn_03" data-url="{{ url_for('admin.design.banner.enabled', {'bn_id': banner.bn_id}) }}">재시작</button>
                            {% endif %}
                        {% endif %}
                        <a href="{{ url_for('admin.design.banner.delete', {'bn_id': banner.bn_id}) }}" onclick="delete_confirm(this.href); return false;" class="btn btn_02">삭제</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
<script>
    $(function() {
        $('.is_enabled').on('click', function() {
            let status = $(this).text();
            if (!confirm('배너를 ' + status + '하시겠습니까?')) {
                return false;
            }

            $.ajax({
                type: "PUT",
                url: $(this).data('url'),
                beforeSend: function (xhr) {
                    for (let key in csrf) {
                        if (!csrf[key]) {
                            alert("CSRF 토큰이 유효하지 않습니다. 새로고침 후 다시 시도해 주세요.");
                            return false;
                        }
                        xhr.setRequestHeader(key, csrf[key]);
                    }
                },
                cache: false,
                async: false,
                success: function (data) {
                    if (data.message) {
                        alert(data.message);
                    }
                    document.location.reload();
                },
                error: function (xhr, status, error) {
                    let result = xhr.responseJSON;
                    alert(xhr.status + ' ' + error + ': ' + result.error.message);
                }
            });
        });
    });
</script>
{% endblock content %}