{% extends "@admin/_layout.html" %}
{% from "@admin/macro.html" import anchor, checked, info, selected %}

{% set action = member ? '수정' : '추가' %}
{% set form_action = member ? url_for('admin.member.manage.update', {'mb_id': member.mb_id}) : url_for('admin.member.manage.insert') %}
{% set title = '회원 > 회원관리 > 회원' ~ action  %}
{% set sub_menus = {
    'basic' : '기본정보',
    'personal': '개인정보',
    'management': '관리'
} %}

{% block title %}{{ title }}{% endblock title %}

{% block head %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" async></script>
{% endblock head %}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <form name="form_member" action="{{ form_action }}" onsubmit="return validate_form(this);" method="post" enctype="multipart/form-data">
        {{ csrf.field|raw }}

        <section id="anchor_basic">
            <h2 class="h2_frm">{{ sub_menus.basic }}</h2>
            {{ anchor(sub_menus, 'basic') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>기본정보</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="mb_id">아이디<strong class="sound_only">필수</strong></label></th>
                            <td>
                            {% if member %}
                                {{ member.mb_id }}
                                {% for social in socials %}
                                <span class="sns-wrap-32 sns-wrap-over">
                                    <span class="sns-icon sns-{{ social.provider }}" title="{{ social.provider_name }}"
                                        data-url="{{ url_for('admin.member.manage.social.unlink', {'mb_id': social.mb_id, 'provider': social.provider}) }}">
                                        <span class="ico"></span>
                                        <span class="txt"></span>
                                    </span>
                                </span>
                                {% endfor %}
                            {% else %}
                                <input type="text" name="mb_id" value="{{ old('mb_id', member) }}" id="mb_id" class="frm_input required alnum_" size="15" maxlength="20" required>
                            {% endif %}
                            </td>
                            <th scope="row">
                                <label for="mb_password">비밀번호</label>
                                {% if not member %}
                                    <strong class="sound_only">필수</strong>
                                {% endif %}
                            </th>
                            <td>
                                <input type="password" name="mb_password" id="mb_password" class="frm_input {% if not member %}required{% endif %}" size="15" maxlength="20" {% if not member %}required{% endif %}>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="mb_level">회원 권한</label></th>
                            <td>
                                <select id="mb_level" name="mb_level">
                                {% for i in range(1, 10) -%}
                                    <option value="{{ i }}" {{ selected(i, old('mb_level', member)) }}>
                                        {{- i -}}
                                    </option>
                                {%- endfor %}
                                </select>
                            </td>
                            <th scope="row">포인트</th>
                            <td>
                                {% if member %}
                                <a href="{{ url_for('admin.member.point', {mb_id: member.mb_id}) }}" target="_blank">
                                    {{- member.mb_point -}}
                                </a> 점
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="mb_img">회원이미지</label></th>
                            <td colspan="3">
                                {{ info('권장되는 이미지 크기는 <strong>60 x 60</strong>입니다.', false) }}
                                <input type="file" name="mb_image_file" id="mb_image_file">
                                {% if member and member.mb_image %}
                                <input type="checkbox" id="mb_image_del" name="mb_image_del" value="1"> <label for="mb_image_del">삭제</label>
                                <img src="{{ base_url ~ member.mb_image }}" alt="배너 이미지" width="60" height="60">
                                {% endif %}
                            </td>
                        </tr>
                        {% if member %}
                        <tr>
                            <th scope="row">추천인</th>
                            <td colspan="3">없음</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
        
        <section id="anchor_personal">
            <h2 class="h2_frm">{{ sub_menus.personal }}</h2>
            {{ anchor(sub_menus, 'personal') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>개인정보</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="mb_name">이름(실명)<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <input type="text" name="mb_name" value="{{ old('mb_name', member) }}" id="mb_name" required class="required frm_input" size="15" maxlength="20">
                            </td>
                            <th scope="row"><label for="mb_nick">닉네임<strong class="sound_only">필수</strong></label></th>
                            <td>
                                <input type="text" name="mb_nick" value="{{ old('mb_nick', member) }}" id="mb_nick" required class="required frm_input" size="15" maxlength="20">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="mb_email">E-mail<strong class="sound_only">필수</strong></label>
                            </th>
                            <td><input type="text" name="mb_email" value="{{ old('mb_email', member) }}" id="mb_email" maxlength="100" required
                                    class="required frm_input email" size="30"></td>
                            <th scope="row"><label for="mb_homepage">홈페이지</label></th>
                            <td><input type="text" name="mb_homepage" value="{{ old('mb_homepage', member) }}" id="mb_homepage" class="frm_input"
                                    maxlength="255" size="15"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="mb_hp">휴대폰번호</label></th>
                            <td><input type="text" name="mb_hp" value="{{ old('mb_hp', member) }}" id="mb_hp" class="frm_input" size="15"
                                    maxlength="20"></td>
                            <th scope="row"><label for="mb_tel">전화번호</label></th>
                            <td><input type="text" name="mb_tel" value="{{ old('mb_tel', member) }}" id="mb_tel" class="frm_input" size="15"
                                    maxlength="20"></td>
                        </tr>
                        <tr>
                            <th scope="row">본인인증 방법</th>
                            <td>
                                <input type="radio" name="mb_certify" value="" id="mb_certify" {{ checked("", old('mb_certify', member), true) }}>
                                <label for="mb_certify">미인증</label>
                                <input type="radio" name="mb_certify" value="simple" id="mb_certify_sa" {{ checked("simple", old('mb_certify', member)) }}>
                                <label for="mb_certify_sa">통합인증</label>
                                <input type="radio" name="mb_certify" value="hp" id="mb_certify_hp" {{ checked("hp", old('mb_certify', member)) }}>
                                <label for="mb_certify_hp">휴대폰</label>
                            </td>
                            <th scope="row">성인인증</th>
                            <td>
                                <input type="radio" name="mb_adult" value="1" id="mb_adult_yes" {{ checked(1, old('mb_adult', member)) }}>
                                <label for="mb_adult_yes">성인</label>
                                <input type="radio" name="mb_adult" value="0" id="mb_adult_no" {{ checked(0, old('mb_adult', member)) }}>
                                <label for="mb_adult_no">미성년자</label>
                            </td>
                        </tr>
                        <tr>
                            <!--
                            <th scope="row">본인인증</th>
                            <td>
                                <input type="radio" name="mb_certify" value="1" id="mb_certify_yes">
                                <label for="mb_certify_yes">인증</label>
                                <input type="radio" name="mb_certify" value="0" id="mb_certify_no" checked="checked">
                                <label for="mb_certify_no">인증하지 않음</label>
                            </td>
                            -->
                        </tr>
                        <tr>
                            <th scope="row">주소</th>
                            <td colspan="3" class="td_addr_line">
                                <label for="mb_zip" class="sound_only">우편번호</label>
                                <input type="text" name="mb_zip" value="{{ old('mb_zip', member) }}" id="mb_zip" class="frm_input readonly" size="5" maxlength="6">
                                <button type="button" class="btn_frmline"
                                    onclick="win_zip('form_member', 'mb_zip', 'mb_addr1', 'mb_addr2', 'mb_addr_jibeon');">
                                    주소 검색
                                </button>
                                <br>
                                <input type="text" name="mb_addr1" value="{{ old('mb_addr1', member) }}" id="mb_addr1" class="frm_input readonly" size="60" placeholder="기본주소">
                                <br>
                                <input type="text" name="mb_addr2" value="{{ old('mb_addr2', member) }}" id="mb_addr2" class="frm_input" size="60" placeholder="상세주소">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="mb_signature">서명</label></th>
                            <td colspan="3">
                                <textarea name="mb_signature" id="mb_signature">
                                    {{- old('mb_signature', member) -}}
                                </textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_management">
            <h2 class="h2_frm">{{ sub_menus.management }}</h2>
            {{ anchor(sub_menus, 'management') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>관리</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="mb_memo">메모</label></th>
                            <td colspan="3"><textarea name="mb_memo" id="mb_memo">{{ old('mb_memo', member) }}</textarea></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="notification_message">알림</label></th>
                            <td colspan="3">
                                <textarea name="notification_message" id="notification_message"></textarea>
                                <button type="button" class="btn btn_03" id="btn_send_notification">알림 발송</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="mb_cert_history">본인인증 내역</label></th>
                            <td colspan="3">
                                본인인증 내역이 없습니다.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">광고성정보수신동의</th>
                            <td>
                                <input type="radio" name="mb_is_marketing_receive" value="1" id="mb_is_marketing_receive_yes" {{ checked(1, old('mb_is_marketing_receive', member), true) }}>
                                <label for="mb_is_marketing_receive_yes">동의</label>
                                <input type="radio" name="mb_is_marketing_receive_no" value="0" id="mb_is_marketing_receive_no" {{ checked(0, old('mb_is_marketing_receive', member)) }}>
                                <label for="mb_is_marketing_receive_no">동의안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">프로필 공개</th>
                            <td colspan="3">
                                <input type="radio" name="mb_open" value="1" id="mb_open_yes" {{ checked(1, old('mb_open', member), true) }}>
                                <label for="mb_open_yes">공개</label>
                                <input type="radio" name="mb_open" value="0" id="mb_open_no" {{ checked(0, old('mb_open', member)) }}>
                                <label for="mb_open_no">공개안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="mb_leave_date">탈퇴일자</label></th>
                            <td>
                                <input type="text" name="mb_leave_date" value="{{ old('mb_leave_date', member) }}" id="mb_leave_date" class="frm_input" maxlength="8">
                                <input type="checkbox" value="" id="mb_leave_date_set_today">
                                <label for="mb_leave_date_set_today">탈퇴일을 오늘로 지정</label>
                            </td>
                            <th scope="row">접근차단일자</th>
                            <td>
                                <input type="text" name="mb_intercept_date" value="{{ old('mb_intercept_date', member) }}" id="mb_intercept_date" class="frm_input" maxlength="8">
                                <input type="checkbox" value="" id="mb_intercept_date_set_today">
                                <label for="mb_intercept_date_set_today">접근차단일을 오늘로 지정</label>
                            </td>
                        </tr>
                        {% if member %}
                        <tr>
                            <th scope="row">회원가입일</th>
                            <td>{{ member.created_at }}</td>
                            <th scope="row">최근접속일</th>
                            <td>{{ member.mb_last_login_at }}</td>
                        </tr>
                        <tr>
                            <th scope="row">IP</th>
                            <td colspan="3">{{ member.mb_signup_ip }}</td>
                        </tr>
                            {% if configs.email_verification_enabled %}
                            <tr>
                                <th scope="row">인증일시</th>
                                <td colspan="3">
                                    {% if not member.mb_email_verified_at %}
                                        {{ info('회원님이 메일을 수신할 수 없는 경우 등에 직접 인증처리를 하실 수 있습니다.') }}
                                        <input type="checkbox" name="mb_email_verified_at" id="mb_email_verified_at" value="">
                                        <label for="mb_email_verified_at">수동인증</label>
                                    {% else %}
                                        {{ member.mb_email_verified_at }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>

        <div class="btn_fixed_top">
            <a href="{{ url_for('admin.member.manage') }}" class="btn btn_02">목록</a>
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>
    </form>
</div>
<script>
    function validate_form(form) {
        if (!f.mb_icon.value.match(/\.(gif|jpe?g|png)$/i) && f.mb_icon.value) {
            alert('아이콘은 이미지 파일만 가능합니다.');
            return false;
        }

        if (!f.mb_img.value.match(/\.(gif|jpe?g|png)$/i) && f.mb_img.value) {
            alert('회원이미지는 이미지 파일만 가능합니다.');
            return false;
        }

        return true;
    }

    $(function(){
        $('.sns-icon').on('click', function() {
            let url = $(this).data('url');
            let message = $(this).attr('title') + ' 계정을 연결해제하시겠습니까?';

            delete_confirm(url, message);
        });
    });

    /**
     * @todo 해당 코드가 banner_form.html에도 있으므로 중복을 제거할 필요가 있음
     */
    document.addEventListener('DOMContentLoaded', function () {
        const setLeaveTime = document.getElementById('mb_leave_date_set_today');
        const mbLeaveTime = document.getElementById('mb_leave_date');
        
        setLeaveTime.addEventListener('change', function () {
            if (this.checked) {
                const today = new Date();
                const formattedDate = formatDate(today);
                mbLeaveTime.value = formattedDate;
            } else {
                mbLeaveTime.value = mbLeaveTime.defaultValue;
            }
        });
    
        const setInterceptTime = document.getElementById('mb_intercept_date_set_today');
        const mbInterceptTime = document.getElementById('mb_intercept_date');
    
        setInterceptTime.addEventListener('change', function () {
            if (this.checked) {
                const futureDate = new Date();
                futureDate.setDate(futureDate.getDate());
                const formattedDate = formatDate(futureDate);
                mbInterceptTime.value = formattedDate;
            } else {
                mbInterceptTime.value = mbInterceptTime.defaultValue;
            }
        });

        const setEmailVerifiedTime = document.getElementById('mb_email_verified_at');
        if (setEmailVerifiedTime) {
            setEmailVerifiedTime.addEventListener('change', function () {
                if (this.checked) {
                    const futureDate = new Date();
                    futureDate.setDate(futureDate.getDate());
                    const formattedDate = formatDate(futureDate);
                    this.value = formattedDate;
                } else {
                    this.value = this.defaultValue;
                }
            });
        }

        /**
        * 날짜를 지정된 시간과 함께 형식화하는 함수
        * @param {Date} date - Date 객체
        * @returns {string} - 형식화된 날짜 문자열
        */
        function formatDate(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            const hour = String(date.getHours()).padStart(2, '0');
            const minute = String(date.getMinutes()).padStart(2, '0');
            const second = String(date.getSeconds()).padStart(2, '0');
            return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
        }


        // 알림 발송
        const btnSendNotification = document.getElementById('btn_send_notification');
        const notificationMessage = document.getElementById('notification_message');
        btnSendNotification.addEventListener('click', function () {
            if (!notificationMessage.value) {
                alert('알림 메시지를 입력해주세요.');
                return;
            }

            if (!confirm('알림을 발송하시겠습니까?')) {
                return;
            }
            const url = "{{ url_for('admin.member.manage.notification', {'mb_id': member.mb_id}) }}";
            const headers = {};
            const formData = new FormData();
            formData.append('message', notificationMessage.value);

            for (let key in csrf) {
                headers[key] = csrf[key];
            }

            fetch(url, {
                method: 'POST',
                body: formData,
                headers: headers
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                window.location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
</script>
{% endblock content %}