{% extends "@admin/_layout.html" %}
{% from "@admin/macro.html" import checked, renderPagination, selected, member_icon %}

{% set title = "회원 > 회원관리" %}
{% block title %}{{ title }}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ admin_url }}/assets/plugin/remodal/remodal.css">
<link rel="stylesheet" href="{{ admin_url }}/assets/plugin/remodal/remodal-default-theme.css">
<script src="{{ admin_url }}/assets/plugin/remodal/remodal.js"></script>
{% endblock head %}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <div class="local_ov01 local_ov">
        <span class="btn_ov01">
            <span class="ov_txt">총 회원수 </span>
            <span class="ov_num"> {{ total_count|format_number }}명 </span>
        </span>
        <a href="{{ url_for('admin.member.manage') }}" class="ov_listall">전체목록</a>
        <a href="{{ url_for('admin.member.manage') }}?status=normal" class="ov_listall">일반</a>
        <a href="{{ url_for('admin.member.manage') }}?status=intercept" class="ov_listall">차단</a>
        <a href="{{ url_for('admin.member.manage') }}?status=leave" class="ov_listall">탈퇴</a>
    </div>

    <form id="form_search" name="form_search" class="local_sch01 local_sch" method="get">
        <input type="hidden" name="status" value="{{ search.status }}">
        <label for="keyword" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
        <input type="text" id="keyword" name="keyword" class="required frm_input" value="{{ search.keyword }}" placeholder="검색어" required>
        <input type="submit" class="btn_submit" value="검색">
    </form>

    <div class="local_desc01 local_desc">
        <p>
            회원자료 삭제 시 다른 회원이 기존 회원아이디를 사용하지 못하도록 회원아이디, 이름, 닉네임은 삭제하지 않고 영구 보관합니다.
        </p>
    </div>

    <form name="form_member_list" id="form_member_list" onsubmit="return validate_form(this);" method="post">
        {{ csrf.field|raw }}

        <div class="tbl_head01 tbl_wrap">
            <table>
                <caption>회원관리 목록</caption>
                <thead>
                    <tr>
                        <th scope="col" id="mb_list_chk" rowspan="2">
                            <label for="chkall" class="sound_only">회원 전체</label>
                            <input type="checkbox" name="chkall" value="1" id="chkall" onclick="check_all(this.form)">
                        </th>
                        <th scope="col" id="mb_list_id">아이디</th>
                        <th scope="col" id="mb_list_name">이름</th>
                        <th scope="col" id="mb_list_nick">닉네임</th>
                        <th scope="col" id="mb_list_deny">레벨</th>
                        <!-- <th scope="col" id="mb_list_grp">그룹</th> -->
                        <th scope="col" id="mb_list_auth">상태</th>
                        <th scope="col" id="mb_list_memo">메모</th>
                        <th scope="col" id="mb_list_blank">알림</th>
                        <th scope="col" id="mb_list_mng">관리</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr class="bg{{ cycle(['0', '1'], loop.index0) }}">
                        <td headers="mb_list_chk" class="td_chk">
                            <label for="chk_{{ loop.index0 }}" class="sound_only">{{ member.mb_name }}</label>
                            <input type="checkbox" id="chk_{{ loop.index0 }}" name="chk[]" value="{{ member.mb_id }}">
                        </td>
                        <td headers="mb_list_id" class="td_name sv_use">
                            {{- member.mb_id -}}
                        </td>
                        <td headers="mb_list_name" class="td_mbname">
                            {{- member.mb_name -}}
                        </td>
                        <td headers="mb_list_nick" class="td_name sv_use">
                            <div>
                                <span class="sv_wrap">
                                    <a href="http://127.0.0.1/g5-update/bbs/profile.php?mb_id=admin"
                                        class="sv_member" title="{{ member.mb_nick }} 자기소개" target="_blank" rel="nofollow"
                                        onclick="return false;">
                                        <span class="profile_img">
                                            {{ member_icon(member.mb_image, member.mb_nick) }}
                                        </span>
                                        {{ member.mb_nick }}
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td headers="mb_list_deny" class="td_mng_m">
                            <select name="mb_level[{{ member.mb_id }}]">
                            {% for level in range(1, 10) %}
                                <option value="{{ level }}" {{ selected(level, member.mb_level) }}>{{ level }}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <!--
                        <td headers="mb_list_grp" class="td_mng_m">
                            <select name="group">
                                <option value="">선택</option>
                                <option value="1">그룹1</option>
                                <option value="2">그룹2</option>
                                <option value="3">그룹3</option>
                            </select>
                        </td>
                        -->
                        <td headers="mb_list_auth" class="td_mng_m">
                            <select name="mb_status[{{ member.mb_id }}]">
                                <option value="">선택</option>
                                <option value="normal" {{ selected('normal', member.status ) }}>일반</option>
                                <option value="intercept" {{ selected('intercept', member.status ) }}>차단</option>
                                <option value="leave" {{ selected('leave', member.status ) }}>탈퇴</option>
                            </select>
                        </td>
                        <td headers="mb_list_memo" class="td_mng_m">
                            <button type="button" name="btn_memo" class="btn btn_03" data-mb_id="{{ member.mb_id }}">메모</button>
                        </td>
                        <td headers="mb_list_blank" class="td_mng_m">
                            <button type="button" name="btn_notify" class="btn btn_03" data-mb_id="{{ member.mb_id }}">알림</button>
                        </td>
                        <td headers="mb_list_mng" class="td_mng_m">
                            <a href="{{ url_for('admin.member.manage.view', {mb_id: member.mb_id}) }}" class="btn btn_03">관리</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="btn_fixed_top">
            <button type="button" id="btn_modal_export" class="btn btn_03" data-url="">내보내기</button>
            <button type="button" id="btn_list_update" class="btn btn_02" data-url="{{ url_for('admin.member.manage.update.list', {}, query_params) }}">선택수정</button>
            <button type="button" id="btn_list_delete" class="btn btn_02" data-url="{{ url_for('admin.member.manage.delete.list', {}, query_params) }}">선택삭제</button>
            <a href="{{ url_for('admin.member.manage.create') }}" id="member_add" class="btn btn_01">회원추가</a>
        </div>
    </form>
    {{ renderPagination(pagination, query_params) }}
</div>

<div class="is_rewrite remodal" data-remodal-id="modal_memo" role="dialog" aria-labelledby="modalMemo" aria-describedby="modal1Desc">
    <button type="button" class="connect-close" data-remodal-action="close">
        <i class="fa fa-close"></i>
        <span class="txt">닫기</span>
    </button>
    <form name="memo_form">
        <input type="hidden" name="mb_id" value="">

        <h3>회원아이디 / 이름 / 닉네임</h3>
        <div name="memo_created_at">
            <h4 class="copy_title">등록일시</h4>
            <span></span>
        </div>
        <textarea rows="5" style="min-height:unset;"></textarea>
        <button type="button" id="btn_memo_add" class="btn btn_03">메모 추가</button>
        <button type="button" id="btn_memo_remove" class="btn btn_02">삭제</button> 
    </form>
</div>

<div class="is_rewrite remodal" data-remodal-id="modal_notify" role="dialog" aria-labelledby="modalNotify" aria-describedby="modal2Desc">
    <button type="button" class="connect-close" data-remodal-action="close">
        <i class="fa fa-close"></i>
        <span class="txt">닫기</span>
    </button>
    <form name="alarm_form">
        <input type="hidden" name="mb_id" value="">

        <h3>회원아이디 / 이름 / 닉네임</h3>
        <h4 class="copy_title">알림</h4>
        <textarea rows="5" style="min-height:unset;" placeholder="알림 내용"></textarea>
        <button type="button" id="btn_send_notify" class="btn btn_03">발송하기</button>
    </form>
</div>

<script>
    const memo_update_url = "{{ url_for('admin.member.manage.memo', {mb_id: '__REPLACE_ID__'}) }}";
    const send_notification_url = "{{ url_for('admin.member.manage.notification', {mb_id: '__REPLACE_ID__'}) }}";
    let modal_memo = $('[data-remodal-id="modal_memo"]');
    let modal_notify = $('[data-remodal-id="modal_notify"]');

    /**
     * 메모
     */
    $("button[name='btn_memo']").on("click", async function () {
        let mb_id = $(this).data("mb_id");
        
        let member = await get_member_info(mb_id);
        if (member) {
            modal_memo.find("h3").text(member.mb_id + " / " + member.mb_name + " / " + member.mb_nick);
            modal_memo.find("textarea").text(member.mb_memo);

            if (member.mb_memo) {
                modal_memo.find("[name='memo_created_at'] span").text(member.mb_memo_created_at ?? '');
                modal_memo.find("[name='memo_created_at']").show();
            } else {
                modal_memo.find("[name='memo_created_at'] span").text('');
                modal_memo.find("[name='memo_created_at']").hide();
            }
            modal_memo.find("input[name='mb_id']").val(mb_id);
            modal_memo.remodal().open();
        }
    });

    $("#btn_memo_add").on("click", function () {
        let memo = modal_memo.find("textarea").val();
        if (memo.length == 0) {
            alert("메모를 입력하세요.");
            return;
        }

        update_memo();
    });

    $("#btn_memo_remove").on("click", function () {
        if (!confirm("메모를 삭제하시겠습니까?")) {
            return;
        }

        modal_memo.find("textarea").text("");
        update_memo();
    });

    async function update_memo() {
        let mb_id = modal_memo.find("input[name='mb_id']").val();

        $.ajax({
            url: memo_update_url.replace('__REPLACE_ID__', mb_id),
            type: "put",
            data: {
                mb_memo: modal_memo.find("textarea").val()
            },
            beforeSend: function (xhr) {
                for (let key in csrf) {
                    if (!csrf[key]) {
                        alert("CSRF 토큰이 유효하지 않습니다. 새로고침 후 다시 시도해 주세요.");
                        return false;
                    }
                    xhr.setRequestHeader(key, csrf[key]);
                }
            },
            success: function (data) {
                alert(data.message);
                modal_memo.remodal().close();
            },
            error: function (xhr, status, error) {
                let result = xhr.responseJSON;
                alert(xhr.status + ' ' + error + ': ' + result.error.message);
            }
        });
    }

    /**
     * 알림 전송
     */
    $("button[name='btn_notify']").on("click", async function () {
        let mb_id = $(this).data("mb_id");
        
        let member = await get_member_info(mb_id);
        if (member) {
            modal_notify.find("h3").text(member.mb_id + " / " + member.mb_name + " / " + member.mb_nick);
            modal_notify.find("input[name='mb_id']").val(mb_id);
            modal_notify.remodal().open();
        }
    });

    $("#btn_send_notify").on("click", function () {
        let message = modal_notify.find("textarea").val();
        let mb_id = modal_notify.find("input[name='mb_id']").val();

        if (message.length == 0) {
            alert("알림 내용을 입력하세요.");
            return;
        }

        $.ajax({
            url: send_notification_url.replace('__REPLACE_ID__', mb_id),
            type: "post",
            data: {notification_message: message},
            beforeSend: function (xhr) {
                for (let key in csrf) {
                    if (!csrf[key]) {
                        alert("CSRF 토큰이 유효하지 않습니다. 새로고침 후 다시 시도해 주세요.");
                        return false;
                    }
                    xhr.setRequestHeader(key, csrf[key]);
                }
            },
            success: function (data) {
                alert(data.message);
                modal_notify.remodal().close();
                window.location.reload();
            },
            error: function (xhr, status, error) {
                let result = xhr.responseJSON;
                alert(xhr.status + ' ' + error + ': ' + result.error.message);
            }
        });
    });

    $("#btn_list_update, #btn_list_delete").on("click", function () {
        let form = $("#form_member_list");

        form.attr("action", $(this).data("url"));
        form.submit();
    });

    function validate_form(f) {
        if (!is_checked("chk[]")) {
            alert("회원을 선택하세요.");
            return false;
        }
        if (f.action.indexOf("delete") !== -1) {
            if (!confirm("선택한 회원을 정말 삭제하시겠습니까?")) {
                return false;
            }
        }

        return true;
    }
</script>
{% endblock content %}