{% extends "@admin/_layout.html" %}
{% from "@admin/macro.html" import anchor, checked, info, selected %}

{% set title = "회원 > 1:1문의 > 답변하기" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <form name="form_member" action="{{ url_for('admin.member.qa.manage.update', {id: question.id}, query_params) }}" onsubmit="return validate_form(this);" method="post" enctype="multipart/form-data">
        {{ csrf.field|raw }}
        <input type="hidden" name="_METHOD" value="PUT">

        <div style="display: flex; justify-content: space-between;">
            <section id="anchor_question" style="width:45%; margin-right:2%">
                <h2 class="h2_frm">문의내용</h2>

                <div class="tbl_frm01 tbl_wrap">
                    <table>
                        <caption>기본정보</caption>
                        <colgroup>
                            <col class="grid_4">
                            <col>
                            <col class="grid_4">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row">이름</th>
                                <td>
                                    {% if question.member %}
                                        <a href="{{ url_for('admin.member.manage.view', {mb_id: question.mb_id}) }}" class="btn btn_03">
                                            {{ question.member.mb_name }} ({{ question.mb_id }})
                                        </a>
                                    {% else %}
                                    {{- question.questioner_name -}}
                                    {% endif %}
                                </td>
                                <th scope="row">등록일</th>
                                <td>{{ question.created_at|format_datetime }}</td>
                            </tr>
                            <tr>
                                <th scope="row">카테고리</th>
                                <td>
                                    {% if question.category %}
                                        <a href="{{ url_for('admin.member.qa.manage', {}, {category_id: question.category_id}) }}" class="btn btn_03">
                                            {{ question.category.title }}
                                        </a>
                                    {% else %}
                                        미분류
                                    {% endif %}
                                </td>
                                <th scope="row">첨부파일 다운로드</th>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">문의제목</th>
                                <td colspan="3">{{ question.subject }}</td>
                            </tr>
                            <tr>
                                <th scope="row">내용</th>
                                <td colspan="3">
                                    <textarea class="frm_input" style="height: 300px;">
                                        {{- question.content -}}
                                    </textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section id="anchor_answer" style="width:50%;">
                <h2 class="h2_frm">답변작성</h2>

                <div class="tbl_frm01 tbl_wrap">
                    <table>
                        <caption>기본정보</caption>
                        <colgroup>
                            <col class="grid_4">
                            <col>
                            <col class="grid_4">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row">답변내용</th>
                                <td colspan="3">
                                    <textarea name="content" id="content" class="frm_input" style="height: 400px;">
                                        {{- answer.content -}}
                                    </textarea>
                                </td>
                            </tr>
                            {% if answer  %}
                            <tr>
                                <th scope="row">답변자</th>
                                <td colspan="3">
                                    {% if answer.admin %}
                                    <a href="{{ url_for('admin.member.manage.view', {mb_id: answer.admin_id}) }}" class="btn btn_03">
                                        {{ answer.admin.mb_name }} ({{ answer.admin_id }})
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">답변 등록일</th>
                                <td>{{ answer.created_at|format_datetime }}</td>
                                <th scope="row">답변 수정일</th>
                                <td>{{ answer.updated_at|format_datetime }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

        <div class="btn_fixed_top">
            {{ request.form }}
            <a href="{{ url_for('admin.member.qa.manage', {}, query_params) }}" class="btn btn_02">목록</a>
            <select name="status" class="btn btn_03">
                <option value="pending" {{ selected('pending', old('status', question)) }} >답변대기</option>
                <option value="in_progress" {{ selected('in_progress', old('status', question)) }} >답변 진행중</option>
                <option value="complated" {{ selected('complated', old('status', question)) }} >답변완료</option>
            </select>
            <button type="submit" class="btn btn_03" accesskey="s">저장</button>
            <button type="button" class="btn btn_01">삭제</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    });

    function validate_form(form) {
    }
</script>
{% endblock content %}