{% extends "@admin/_layout.html" %}
{% from "@admin/macro.html" import anchor, checked, info, selected %}

{% set title = "디자인/UI > 메인화면 설정" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">

    <section>
        <h2 class="h2_frm">섹션 목록</h2>

        <form name="form_section_list" id="form_section_list" method="post"
            action="{{ url_for('admin.design.mainpage.list.update') }}" onsubmit="return validate_form(this);">
            {{ csrf.field|raw }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">메인 화면 사용</th>
                            <td>
                                <label for="use_mainpage_1" class="rules_label">사용</label>
                                <input name="use_mainpage" id="use_mainpage_1" type="radio" value="1" {{ checked(1, old('use_mainpage', configs)) }}>
                                <label for="use_mainpage_0" class="rules_label">사용안함</label>
                                <input name="use_mainpage" id="use_mainpage_0" type="radio" value="0" {{ checked(0, old('use_mainpage', configs), true) }}>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tbl_head01 tbl_wrap">
                <table>
                    <caption>메인페이지 섹션 목록</caption>
                    <thead>
                        <tr>
                            <th scope="col">섹션</th>
                            <th scope="col">타이틀</th>
                            <th scope="col">데이터 수</th>
                            <th scope="col">관리</th>
                            <th scope="col">순서</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for section in sections %}
                        <tr class="bg{{ cycle(['0', '1'], loop.index0) }}">
                            <input type="hidden" name="ids[]" value="{{ section.id }}">

                            <td class="td_category">
                                {{ section.section }}
                            </td>
                            <td>
                                <input type="text" name="section_title[{{ section.id }}]" value="{{ section.section_title }}" class="frm_input">
                            </td>
                            <td>
                                {{ section.data_count }}
                            </td>
                            <td class="td_mng td_mng_l">
                                <button type="button" class="btn_modify btn_03" data-id="{{ section.id }}">수정</button>
                                <a href="{{ url_for('admin.design.mainpage.delete', {id: section.id}) }}"
                                    data-title="{{ section.section_title }}"
                                    data-data_count="{{ section.data_count }}"
                                    onclick="delete_section(this); return false;" class="btn btn_02">
                                    삭제
                                </a>
                            </td>
                            <td class="td_mng td_mng_l">
                                <button type="button" class="btn_del_menu btn_04">이동</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
            <div class="btn_fixed_top">
                <button type="button" onclick="cancel_confirm();" class="btn btn_02">취소</button>
                <input type="submit" name="act_button" value="확인" class="btn_submit btn">
            </div>
        </form>
    </section>

    

    <section class="section_info">
        <h2 class="h2_frm">섹션 정보 추가/수정</h2>

        <div class="tbl_frm01 tbl_wrap">
            <table>
                <colgroup>
                    <col class="grid_4">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><label for="select_section">섹션<strong class="sound_only">필수</strong></label></th>
                        <td>
                            <select id="select_section">
                                <option value="">섹션 선택</option>
                                <option value="banner">배너</option>
                                {% if configs.use_shop %}
                                <option value="shop_category">쇼핑 카테고리</option>
                                <option value="event">기획전</option>
                                {% endif %}
                                {% if configs.use_community %}
                                <option value="community">커뮤니티 최신글</option>
                                {% endif %}
                            </select>
                            <button type="button" id="btn_add_section" class="btn btn_01">추가</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% include "@admin/design/mainpage/include/banner.html" %}
        {% include "@admin/design/mainpage/include/shop_category.html" %}
        {% include "@admin/design/mainpage/include/event.html" %}
        {% include "@admin/design/mainpage/include/community.html" %}
    </section>
</div>

<script>
    $(function() {
        // 섹션 추가 버튼
        $("#btn_add_section").on("click", function() {
            let section = $("#select_section").val();
            let $form = $("#form_" + section);

            if (section == "") {
                alert("섹션을 선택하세요.");
                return;
            }

            // 값 초기화
            $form.find("input[type='text']").val("");
            // 라디오버튼의 초기 설정값으로 변경 defaultValue 사용
            $form.find("input[type='radio']").prop("checked", function() {
                return this.attributes.checked;
            });
            $form.find("select").val("");

            let action = "{{ url_for('admin.design.mainpage.insert') }}";
            $form.attr("action", action);

            $(".section_info > form").hide();
            $form.find("button[type='submit']").text("추가");
            $form.show();
        });

        // 섹션 목록 수정 버튼
        $(".btn_modify").on("click", function() {
            let id = $(this).data("id");
            let url = "{{ url_for('admin.design.mainpage.get', {id: '__REPLACE_ID__'}) }}";

            $.ajax({
                url: url.replace('__REPLACE_ID__', id),
                type: "get",
                success: function (data) {
                    let section_type = data.row.section;
                    let section = data.row;
                    let $form = $("#form_" + section_type);
                    console.log(section);
                    // 데이터 세팅
                    $form.find("input[name='section_title']").val(section.section_title);
                    $form.find("input[id='is_display_title_" + section.is_display_title + "']").prop("checked", true);

                    if (section_type == 'banner') {
                        $form.find("select[name='display_count']").val(section.display_count);
                        $form.find("input[id='is_swipe_" + section.is_swipe + "']").prop("checked", true);
                    } else if (section_type == 'community') {
                        $form.find("select[name='display_count']").val(section.display_count);
                        let display_boards = section.display_boards.split(',');

                        let $tr_board = $("#form_community .tr_board");
                        $tr_board.find('select').remove();
                        
                        for (let i = 0; i < display_boards.length; i++) {
                            let $select = $("<select name='select_board[]'>");
                            $select.append("<option value=''>게시판 선택</option>");
                            $select.append("<option value='1'>게시판1</option>");
                            $select.append("<option value='2'>게시판2</option>");
                            $select.append("<option value='3'>게시판3</option>");
                            $select.append("</select>");
                            $select.val(display_boards[i]);
                            $tr_board.find('td').append($select);
                        }

                    } else if (section_type == 'shop_category') {
                        $form.find("input[name='max_item']").val(section.max_item);
                        $form.find("input[name='row_item']").val(section.row_item);
                    } else if (section_type == 'event') {
                        $form.find("input[name='max_item']").val(section.max_item);
                        $form.find("input[name='row_item']").val(section.row_item);
                        $form.find("input[name='is_enabled'][value='" + section.is_enabled + "']").prop("checked", true);
                    }

                    let action = "{{ url_for('admin.design.mainpage.update', {id: '__REPLACE_ID__'}) }}";
                    $form.attr("action", action.replace('__REPLACE_ID__', id));

                    $(".section_info > form").hide();
                    $form.find("button[type='submit']").text("수정");
                    $form.show();
                },
                error: function (xhr, status, error) {
                    let result = xhr.responseJSON;
                    alert(xhr.status + ' ' + error + ': ' + result.error.message);
                }
            });
        });

        // 섹션 폼 취소 버튼
        $(".cancel_section").on("click", function() {
            $(this).closest("form").hide();
        });
        
    });
</script>

<script>
    function validate_form(form) {
        return true;
    }

    function cancel_confirm() {
        const message = "메인화면 설정을 취소하시겠습니까?";

        // @todo 순서가 변경됬다면 문구 추가 => 프론트 작업 후 추가

        if (confirm(message)) {
            location.href = "{{ url_for('admin.design.mainpage') }}";
        }
    }

    function delete_section(obj) {
        const href = obj.href;
        const section_title = obj.dataset.title;
        const data_count = obj.dataset.data_count;

        if (data_count > 0) {
            alert(section_title + " 섹션에 데이터가 있습니다. 데이터를 먼저 삭제해주세요.");
            return false;
        }

        delete_confirm(href);
    }
</script>
{% endblock %}