<div class="is_rewrite remodal" data-remodal-id="modal_search_member" role="dialog" aria-labelledby="modalNotify" aria-describedby="modal2Desc">
    <button type="button" class="connect-close" data-remodal-action="close">
        <i class="fa fa-close"></i>
        <span class="txt">닫기</span>
    </button>

    <form id="modal_search_form" class="local_sch" method="get" action="{{ url_for('admin.member.manage.search') }}" onsubmit="return false">
        <div class="search-container">
            <!-- 검색 입력 폼 -->
            <div class="search-header">
                <select id="modal_search_type">
                    <option value="mb_id">아이디</option>
                    <option value="mb_name">이름</option>
                </select>
                <input type="text" id="modal_search_keyword" class="frm_input" placeholder="검색어" />
                <button type="button" id="btn_search_member" class="btn_sch2">검색</button>
            </div>
            
            <!-- 검색 전 -->
            <p id="search_message">회원을 검색해 보세요.</p>

            <!-- 검색 결과 -->
            <div id="search_results" style="display:none;">
                <!-- 검색 결과 리스트 -->
                <ul id="results_list"></ul>
            </div>

            <!-- 검색 결과 없을 때 -->
            <p id="no_results" style="display:none;">검색결과가 없습니다.</p>
            
            <!-- 하단 버튼 -->
            <div class="search-footer">
                <button type="button" class="btn btn_03" data-remodal-action="close" style="float:right">닫기</button>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modal_search_form = document.getElementById('modal_search_form');
        const modal_search_type = document.getElementById('modal_search_type');
        const modal_search_keyword = document.getElementById('modal_search_keyword');
        const btn_search_member = document.getElementById('btn_search_member');

        // 검색 버튼
        btn_search_member.addEventListener('click', function () {
            const searchType = modal_search_type.value;
            const searchKeyword = modal_search_keyword.value;

            // AJAX 요청
            const url = modal_search_form.action + '?search_type=' + searchType + '&keyword=' + searchKeyword;
            sendAjaxRequest(url, 'GET', {}, {message:false, callback: function(response) {
                if (response.members.length === 0) {
                    showNoResults();
                    return;
                }
                displayResults(response.members);
            }})
        });
    });

    $(document).on('closed', '.remodal', function (e) {
        hideResults();
    });

    // 검색 결과 출력
    function displayResults(results) {
        const resultsList = document.getElementById('results_list');
        resultsList.innerHTML = ''; // 기존 내용 초기화
        
        results.forEach(result => {
            const listItem = document.createElement('li');
            listItem.innerHTML = `<span>(아이디 : ${result.mb_id}) ${result.mb_name} (${result.mb_nick})</span>
                                <button type="button" class="btn btn_03 btn_select_member" data-mb_id="${result.mb_id}" data-mb_name="${result.mb_name}">
                                    선택
                                </button>`;
            resultsList.appendChild(listItem);
        });

        document.getElementById('search_results').style.display = 'block';
        document.getElementById('no_results').style.display = 'none';
        document.getElementById('search_message').style.display = 'none';

        // 각 버튼에 이벤트 리스너 추가
        document.querySelectorAll('.btn_select_member').forEach(button => {
            button.addEventListener('click', function() {
                const event = new CustomEvent('memberSelected', {
                    detail: {
                        mb_id: this.getAttribute('data-mb_id'),
                        mb_name: this.getAttribute('data-mb_name')
                    }
                });
                document.dispatchEvent(event);
            });
        });
    }

    // 검색 결과 없을 때
    function showNoResults() {
        document.getElementById('search_results').style.display = 'none';
        document.getElementById('no_results').style.display = 'block';
        document.getElementById('search_message').style.display = 'none';
    }

    // 검색 결과 숨기기
    function hideResults() {
        document.getElementById('search_results').style.display = 'none';
        document.getElementById('no_results').style.display = 'none';
        document.getElementById('search_message').style.display = 'block';
    }

</script>