<h2>관리자 주메뉴</h2>
<ul class="gnb_ul">
    {% for menu in admin_menus %}
    <li class="{{ html_classes('gnb_li', {'on': menu.active}) }}">
        <button type="button" class="btn_op menu-{{ loop.index }}00 menu-order-{{ loop.index }}" title="{{ menu.am_name }}">
            {{- menu.am_name -}}
        </button>
        <div class="gnb_oparea_wr">
            <div class="gnb_oparea">
                <h3>{{ menu.am_name }}</h3>
                <ul>
                    {% for child in menu.children %}
                    <li>
                        <a href="{{ child.url }}" class="{{ html_classes('gnb_2da', {'on': child.active}) }}">{{ child.am_name }}</a>
                        {% if child.children %}
                        <ul>
                            {% for child2 in child.children %}
                            <li>
                                <a href="{{ child2.url }}" class="{{ html_classes('gnb_3da', {'on': child2.active}) }}">└ {{ child2.am_name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<script>
    jQuery(function($) {
        $(".gnb_ul li .btn_op").click(function() {
            $(this).parent().addClass("on").siblings().removeClass("on");
        });
    });
</script>