{% extends "/admin/_layout.html" %}

{% block content %}
{% set form_action = faq_category ? url_for('admin.content.faq.update', {'id': faq_category.id}) : url_for('admin.content.faq.insert') %}
{% set action = content ? '수정' : '추가' %}

<h1 id="container_title">FAQ 입력 관리</h1>
<div class="container_wr">
    <form name="frmfaqmasterform" action="./faqmasterformupdate.php" onsubmit="return frmfaqmasterform_check(this);"
        method="post" enctype="MULTIPART/FORM-DATA">
        {{ csrf.field|raw }}

        <div class="tbl_frm01 tbl_wrap">
            <table>
                <caption>FAQ 입력 관리</caption>
                <colgroup>
                    <col class="grid_4">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><label for="fm_order">출력순서</label></th>
                        <td>
                            <span class="frm_info">숫자가 작을수록 FAQ 분류에서 먼저 출력됩니다.</span> <input type="text" name="fm_order"
                                value="" id="fm_order" class="frm_input" maxlength="10" size="10">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="fm_subject">제목</label></th>
                        <td>
                            <input type="text" value="" name="fm_subject" id="fm_subject" required=""
                                class="frm_input required" size="70">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="fm_himg">상단이미지</label></th>
                        <td>
                            <input type="file" name="fm_himg" id="fm_himg">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="fm_timg">하단이미지</label></th>
                        <td>
                            <input type="file" name="fm_timg" id="fm_timg">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">상단 내용</th>
                        <td>
                            <span class="sound_only">웹에디터 시작</span>
                            <script>document.write("<div class='cke_sc'><button type='button' class='btn_cke_sc'>단축키 일람</button></div>");</script>
                            <div class="cke_sc"><button type="button" class="btn_cke_sc">단축키 일람</button></div>
                            <script
                                src="http://127.0.0.1/g5-update/plugin/editor/smarteditor2/js/service/HuskyEZCreator.js"></script>
                            <script>var g5_editor_url = "http://127.0.0.1/g5-update/plugin/editor/smarteditor2", oEditors = [], ed_nonce = "7wC5a6mCL2|1725267352|35f84f686feb8d7d4b59ef84085d9bd2e07cc792";</script>
                            <script src="http://127.0.0.1/g5-update/plugin/editor/smarteditor2/config.js"></script>
                            <script>
                                $(function () {
                                    $(".btn_cke_sc").click(function () {
                                        if ($(this).next("div.cke_sc_def").length) {
                                            $(this).next("div.cke_sc_def").remove();
                                            $(this).text("단축키 일람");
                                        } else {
                                            $(this).after("<div class='cke_sc_def' />").next("div.cke_sc_def").load("http://127.0.0.1/g5-update/plugin/editor/smarteditor2/shortcut.html");
                                            $(this).text("단축키 일람 닫기");
                                        }
                                    });
                                    $(document).on("click", ".btn_cke_sc_close", function () {
                                        $(this).parent("div.cke_sc_def").remove();
                                    });
                                });
                            </script>
                            <textarea id="fm_head_html" name="fm_head_html" class="smarteditor2" maxlength="65536"
                                style="width: 100%; height: 300px; display: none;"></textarea><iframe frameborder="0"
                                scrolling="no"
                                src="http://127.0.0.1/g5-update/plugin/editor/smarteditor2/SmartEditor2Skin.html"
                                style="width: 100%; height: 349px;"></iframe>
                            <span class="sound_only">웹 에디터 끝</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">하단 내용</th>
                        <td>
                            <span class="sound_only">웹에디터 시작</span>
                            <script>document.write("<div class='cke_sc'><button type='button' class='btn_cke_sc'>단축키 일람</button></div>");</script>
                            <div class="cke_sc"><button type="button" class="btn_cke_sc">단축키 일람</button></div>
                            <textarea id="fm_tail_html" name="fm_tail_html" class="smarteditor2" maxlength="65536"
                                style="width: 100%; height: 300px; display: none;"></textarea><iframe frameborder="0"
                                scrolling="no"
                                src="http://127.0.0.1/g5-update/plugin/editor/smarteditor2/SmartEditor2Skin.html"
                                style="width: 100%; height: 349px;"></iframe>
                            <span class="sound_only">웹 에디터 끝</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">모바일상단 내용</th>
                        <td>
                            <span class="sound_only">웹에디터 시작</span>
                            <script>document.write("<div class='cke_sc'><button type='button' class='btn_cke_sc'>단축키 일람</button></div>");</script>
                            <div class="cke_sc"><button type="button" class="btn_cke_sc">단축키 일람</button></div>
                            <textarea id="fm_mobile_head_html" name="fm_mobile_head_html" class="smarteditor2"
                                maxlength="65536" style="width: 100%; height: 300px; display: none;"></textarea><iframe
                                frameborder="0" scrolling="no"
                                src="http://127.0.0.1/g5-update/plugin/editor/smarteditor2/SmartEditor2Skin.html"
                                style="width: 100%; height: 349px;"></iframe>
                            <span class="sound_only">웹 에디터 끝</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">모바일하단 내용</th>
                        <td>
                            <span class="sound_only">웹에디터 시작</span>
                            <script>document.write("<div class='cke_sc'><button type='button' class='btn_cke_sc'>단축키 일람</button></div>");</script>
                            <div class="cke_sc"><button type="button" class="btn_cke_sc">단축키 일람</button></div>
                            <textarea id="fm_mobile_tail_html" name="fm_mobile_tail_html" class="smarteditor2"
                                maxlength="65536" style="width: 100%; height: 300px; display: none;"></textarea><iframe
                                frameborder="0" scrolling="no"
                                src="http://127.0.0.1/g5-update/plugin/editor/smarteditor2/SmartEditor2Skin.html"
                                style="width: 100%; height: 349px;"></iframe>
                            <span class="sound_only">웹 에디터 끝</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="btn_fixed_top">
            <a href="./faqmasterlist.php" class="btn btn_02">목록</a>
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>

    </form>

    <script>
        function frmfaqmasterform_check(f) {
            var fm_head_html_editor_data = oEditors.getById['fm_head_html'].getIR();
            oEditors.getById['fm_head_html'].exec('UPDATE_CONTENTS_FIELD', []);
            if (jQuery.inArray(document.getElementById('fm_head_html').value.toLowerCase().replace(/^\s*|\s*$/g, ''), ['&nbsp;', '<p>&nbsp;</p>', '<p><br></p>', '<div><br></div>', '<p></p>', '<br>', '']) != -1) { document.getElementById('fm_head_html').value = ''; }
            var fm_tail_html_editor_data = oEditors.getById['fm_tail_html'].getIR();
            oEditors.getById['fm_tail_html'].exec('UPDATE_CONTENTS_FIELD', []);
            if (jQuery.inArray(document.getElementById('fm_tail_html').value.toLowerCase().replace(/^\s*|\s*$/g, ''), ['&nbsp;', '<p>&nbsp;</p>', '<p><br></p>', '<div><br></div>', '<p></p>', '<br>', '']) != -1) { document.getElementById('fm_tail_html').value = ''; }
            var fm_mobile_head_html_editor_data = oEditors.getById['fm_mobile_head_html'].getIR();
            oEditors.getById['fm_mobile_head_html'].exec('UPDATE_CONTENTS_FIELD', []);
            if (jQuery.inArray(document.getElementById('fm_mobile_head_html').value.toLowerCase().replace(/^\s*|\s*$/g, ''), ['&nbsp;', '<p>&nbsp;</p>', '<p><br></p>', '<div><br></div>', '<p></p>', '<br>', '']) != -1) { document.getElementById('fm_mobile_head_html').value = ''; }
            var fm_mobile_tail_html_editor_data = oEditors.getById['fm_mobile_tail_html'].getIR();
            oEditors.getById['fm_mobile_tail_html'].exec('UPDATE_CONTENTS_FIELD', []);
            if (jQuery.inArray(document.getElementById('fm_mobile_tail_html').value.toLowerCase().replace(/^\s*|\s*$/g, ''), ['&nbsp;', '<p>&nbsp;</p>', '<p><br></p>', '<div><br></div>', '<p></p>', '<br>', '']) != -1) { document.getElementById('fm_mobile_tail_html').value = ''; }
        }

        // document.frmfaqmasterform.fm_subject.focus();
    </script>
</div>
{% endblock content %}