{% extends "@admin/_layout.html" %}
{% from "@admin/macro.html" import anchor, checked, info, selected %}

{% set title = "기본환경 > 기본환경설정" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ admin_url }}/assets/plugin/remodal/remodal.css">
<link rel="stylesheet" href="{{ admin_url }}/assets/plugin/remodal/remodal-default-theme.css">
<script src="{{ admin_url }}/assets/plugin/remodal/remodal.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" async></script>
{% endblock head %}

{% block content %}
{% set sub_menus = {
    'site': '사이트 설정',
    'mail': '메일 설정',
    'business': '사업자 정보',
    'ip': 'IP접속 관리',
    'meta': '메타태그/스크립트'
} %}

<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <form name="form_config" id="form_config" method="post" action="{{ url_for('admin.config.basic.update') }}" onsubmit="return validate_config_form(this);" enctype="multipart/form-data">
        {{ csrf.field|raw }}
        <input type="hidden" name="_METHOD" value="PUT">

        <section id="anchor_site">
            <h2 class="h2_frm">{{ sub_menus.site }}</h2>
            {{ anchor(sub_menus, 'site') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>{{ sub_menus.site }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="site_title">사이트 제목<strong class="sound_only">필수</strong></label></th>
                            <td colspan="3">
                                {{ info('브라우저 탭 / 메일 발송 등에 표시되는 이름이에요.') }}
                                <input type="text" id="site_title" name="site_title" class="frm_input required" value="{{ old('site_title', configs) }}" size="40" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="site_description">사이트 설명</label></th>
                            <td>
                                {{ info('페이지 미리보기, 검색 엔진에서 사용하는 사이트 설명이에요.') }}
                                <textarea name="site_description" id="site_description">
                                    {{- old('site_description', configs) -}}
                                </textarea>
                            </td>
                            <th scope="row"><label for="site_keyword">사이트 키워드</label></th>
                            <td>
                                {{ info('쉼표나 탭으로 구분하여 입력해 보세요. 페이지 미리보기, 검색 엔진 품질을 높이는 데 사용합니다.') }}
                                <textarea name="site_keyword" id="site_keyword" >
                                    {{- old('site_keyword', configs) -}}
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">사이트 대표이미지</th>
                            <td colspan="3">
                                {{ info('사이트 대표 이미지를 설정해 보세요. 페이지 미리보기, 검색 엔진 등에 표시합니다.<br>(최소 1200 x 630px / 1.91:1 비율 추천)', false) }}
                                <input type="file" name="site_image_file" id="site_image_file" class="frm_input">
                                {% if configs.site_image %}
                                <input type="checkbox" id="delete_site_image" name="delete_site_image" value="1"><label for="delete_site_image">삭제</label>
                                <img src="{{ base_url ~ configs.site_image }}" alt="사이트 대표이미지" width="100" height="auto">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="super_admin">최고관리자<strong class="sound_only">필수</strong></label></th>
                            <td colspan="3">
                                {{ info('최고관리자는 사이트 모든 권한을 가져요. 회원 레벨 10인 회원만 최고관리자로 지정할 수 있어요.') }}
                                <select name="super_admin" id="super_admin" required>
                                    <option value="">선택안함</option>
                                {% for admin in admins %}
                                    <option value="{{ admin.mb_id }}" {{ selected(admin.mb_id, old('super_admin', configs)) }}>
                                        {{- admin.mb_id ~ " (" ~ admin.mb_name ~ ")"-}}
                                    </option>
                                {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row"><label for="privacy_officer_name">개인정보관리책임자명<strong class="sound_only">필수</strong></label></th>
                            <td>
                                {{ info('사이트 하단이나 개인정보처리방침에 표시합니다.') }}
                                <input type="text" name="privacy_officer_name" value="{{ old('privacy_officer_name', configs) }}" id="privacy_officer_name" required class="required frm_input" size="40">
                            </td>
                            <th scope="row"><label for="privacy_officer_email">개인정보관리책임자의 메일 주소<strong class="sound_only">필수</strong></label></th>
                            <td>
                                {{ info('사이트 하단이나 개인정보처리방침에 표시합니다.') }}
                                <input type="text" name="privacy_officer_email" value="{{ old('privacy_officer_email', configs) }}" id="privacy_officer_email" required class="required email frm_input" size="40">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="dhtml_editor">DHTML 에디터<strong class="sound_only">필수</strong></label></th>
                            <td colspan="3">
                                {{ info(base_url ~ '/assets/library/editor 경로에 설치된 에디터를 선택하세요.') }}
                                <select name="dhtml_editor" id="dhtml_editor">
                                    <option value="">선택하세요</option>
                                    {% for editor, infomations in editors %}
                                        <optgroup label="{{ editor }}">
                                            {% for info in infomations %}
                                                <option value="{{ info.value }}" {{ selected(info.value, old('dhtml_editor', configs)) }}>
                                                    {{ editor }} ({{ info.version }})
                                                </option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_mail">
            <h2 class="h2_frm">{{ sub_menus.mail }}</h2>
            {{ anchor(sub_menus, 'mail') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>{{ sub_menus.mail }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">메일 발송 주소</th>
                            <td>
                                {{ info('발송메일은 연동한 SMTP 서버의 메일을 입력해야 메일이 정상 발송됩니다.') }}
                                <input type="text" name="mail_address" id="mail_address" class="frm_input required" value="{{ old('mail_address', configs) }}" required>
                                <button type="button" id="btn_mail_test" class="btn btn_03">메일 테스트</button>
                            </td>
                            <th scope="row">메일 발송 이름</th>
                            <td>
                                {{ info('메일 발송시 보여지는 이름이므로 구분이 가능하도록 입력하세요.') }}
                                <input type="text" name="mail_name" id="mail_name" class="frm_input required" value="{{ old('mail_name', configs) }}" required>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_business">
            <h2 class="h2_frm">{{ sub_menus.business }}</h2>
            {{ anchor(sub_menus, 'business') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>{{ sub_menus.business }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="company_name">회사명</label></th>
                            <td><input type="text" name="company_name" id="company_name" class="frm_input" value="{{ old('company_name', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="biz_reg_no">사업자등록번호</label></th>
                            <td>
                                {{ info('입력예) 123-45-67890') }}
                                <input type="text" name="biz_reg_no" id="biz_reg_no" class="frm_input" value="{{ old('biz_reg_no', configs) }}">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="ceo_name">대표자명</label></th>
                            <td><input type="text" name="ceo_name" id="ceo_name" class="frm_input" value="{{ old('ceo_name', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="main_phone_number">대표전화번호</label></th>
                            <td><input type="text" name="main_phone_number" id="main_phone_number" class="frm_input" value="{{ old('main_phone_number', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="fax_number">팩스번호</label></th>
                            <td><input type="text" name="fax_number" id="fax_number" class="frm_input" value="{{ old('fax_number', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="ecom_reg_no">통신판매업신고번호</label></th>
                            <td><input type="text" name="ecom_reg_no" id="ecom_reg_no" class="frm_input" value="{{ old('ecom_reg_no', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="add_telecom_no">부가통신사업자번호</label></th>
                            <td><input type="text" name="add_telecom_no" id="add_telecom_no" class="frm_input" value="{{ old('add_telecom_no', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="biz_zip_code">사업장 우편번호</label></th>
                            <td>
                                <input type="text" name="biz_zip_code" id="biz_zip_code" class="frm_input" value="{{ old('biz_zip_code', configs) }}">
                                <button type="button" class="btn_frmline" onclick="win_zip('form_config', 'biz_zip_code', 'biz_address', 'biz_address_detail', '');">주소찾기</button><br>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="biz_address">사업장 기본주소</label></th>
                            <td><input type="text" name="biz_address" id="biz_address" class="frm_input" value="{{ old('biz_address', configs) }}" placeholder="기본주소" size="100"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="biz_address_detail">사업장 상세주소</label></th>
                            <td><input type="text" name="biz_address_detail" id="biz_address_detail" class="frm_input" value="{{ old('biz_address_detail', configs) }}" placeholder="상세주소" size="100"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_ip">
            <h2 class="h2_frm">{{ sub_menus.ip }}</h2>
            {{ anchor(sub_menus, 'ip') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>{{ sub_menus.ip }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="possible_ip">접근가능 IP</label></th>
                            <td>
                                {{ info('여러 개 입력은 엔터(Enter Key)로 구분해 보세요. 중복 입력 시 자동으로 제거합니다.') }}
                                <textarea name="possible_ip" id="possible_ip" placeholder="123.123.+">
                                    {{- old('possible_ip', configs) -}}
                                </textarea>
                            </td>
                            <th scope="row"><label for="intercept_ip">접근차단 IP</label></th>
                            <td>
                                {{ info('여러 개 입력은 엔터(Enter Key)로 구분해 보세요. 중복 입력 시 자동으로 제거합니다.') }}
                                <textarea name="intercept_ip" id="intercept_ip" placeholder="123.123.+">
                                    {{- old('intercept_ip', configs) -}}
                                </textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_meta">
            <h2 class="h2_frm">{{ sub_menus.meta }}</h2>
            {{ anchor(sub_menus, 'meta') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>>{{ sub_menus.meta }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="add_script">사용자 스크립트</label></th>
                            <td colspan="3">
                                {{ info('사용자 정의 자바스크립트를 입력하세요. </html> 다음에 추가됩니다.') }}
                                <textarea name="add_script" id="add_script">
                                {%- autoescape false -%}
                                    {{- old('add_script', configs) -}}
                                {%- endautoescape -%}
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="add_css">사용자 스타일시트(CSS)</label></th>
                            <td colspan="3">
                                {{ info('사용자 정의 스타일시트를 입력하세요. <head> 마지막에 추가됩니다.') }}
                                <textarea name="add_css" id="add_css">
                                {%- autoescape false -%}
                                    {{- old('add_css', configs) -}}
                                {%- endautoescape -%}
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="add_meta">사용자 메타태그</label></th>
                            <td colspan="3">
                                {{ info('사용자 정의 메타 태그를 입력하세요. <meta> 마지막에 추가됩니다.') }}
                                <textarea name="add_meta" id="add_meta">
                                {%- autoescape false -%}
                                    {{- old('add_meta', configs) -}}
                                {%- endautoescape -%}
                                </textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div class="btn_fixed_top btn_confirm">
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>

    </form>
</div>

<div class="is_rewrite remodal" data-remodal-id="modal_mail_test" role="dialog" aria-labelledby="modal" aria-describedby="modal2Desc">
    <button type="button" class="connect-close" data-remodal-action="close">
        <i class="fa fa-close"></i>
        <span class="txt">닫기</span>
    </button>
    <form name="form_mail_test">
        <h3>메일 주소 입력</h3>
        <h4 class="copy_title">
            <div style="text-align:left;">수신인이 여러 명이면 Enter 키로 구분해 보세요. 중복된 메일 주소는 자동으로 제거됩니다.</div>
        </h4>
        <textarea name="test_mail_addresses" rows="5" style="min-height:unset;" placeholder="테스트 메일 주소"></textarea>
        <button type="button" id="btn_send_test_mail" class="btn btn_03">발송</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const $modal_mail_test = $('[data-remodal-id="modal_mail_test"]');

        // 사업자등록번호 입력시 자동으로 하이픈(-) 추가
        document.getElementById('biz_reg_no').addEventListener('input', function (e) {
            let value = e.target.value.replace(/[^0-9]/g, '');
            if (value.length > 12) {
                value = value.substr(0, 12);
            }
            let formattedValue = '';

            if (value.length > 3) {
                formattedValue += value.substr(0, 3) + '-';
                value = value.substr(3);
            }
            if (value.length > 2) {
                formattedValue += value.substr(0, 2) + '-';
                value = value.substr(2);
            }
            formattedValue += value;
            e.target.value = formattedValue;
        });

        // 사업장 우편번호에 5자리 숫자만 입력
        document.getElementById('biz_zip_code').addEventListener('input', function (e) {
            let value = e.target.value.replace(/[^0-9]/g, '');
            if (value.length > 5) {
            value = value.substr(0, 5);
            }
            e.target.value = value;
        });

        // 메일 테스트 버튼
        document.getElementById('btn_mail_test').addEventListener('click', function () {
            if (validateTestMailInputs()) {
                $modal_mail_test.remodal().open();
            }
        });

        // 메일 테스트 발송
        document.getElementById('btn_send_test_mail').addEventListener('click', function () {
            if (!validateTestMailInputs()) {
                return;
            }
            let testMailAddresses = document.querySelector('textarea[name="test_mail_addresses"]').value.trim();
            if (!testMailAddresses) {
                alert('테스트 메일 주소를 입력해 주세요.');
                return;
            }
            testMailAddresses = testMailAddresses.split('\n').map(email => email.trim()).filter(email => email);
            for (const email of testMailAddresses) {
                if (!validateEmail(email)) {
                    alert('이메일 형식이 아닌 주소가 포함되어 있습니다.\n' + email);
                    return;
                }
            }
            const url = "{{ url_for('admin.config.basic.mail.test') }}";
            const data = {
                mail_address: document.getElementById('mail_address').value.trim(),
                mail_name: document.getElementById('mail_name').value.trim(),
                test_mail_addresses: testMailAddresses
            };
            sendAjaxRequest(url, 'POST', data, {
                callback: function (response) {
                    document.querySelector('textarea[name="test_mail_addresses"]').value = '';
                    $modal_mail_test.remodal().close();
                }
            });
        });
    });

    function validate_config_form(f) {
        // IP 입력값 검증
        const current_user_ip = "{{ current_ip }}";
        const intercept_ip_val = f.intercept_ip.value.trim();

        if (intercept_ip_val && current_user_ip) {
            const intercept_ips = intercept_ip_val.split("\n").map(ip => ip.trim()).filter(ip => ip);

            for (const ip of intercept_ips) {
                const regex_ip = ip.replace(/\./g, "\\.").replace(/\+/g, "[0-9\\.]+");
                const re = new RegExp(`^${regex_ip}$`);

                if (re.test(current_user_ip)) {
                    alert(`현재 접속 IP : ${current_user_ip} 가 차단될수 있기 때문에, 다른 IP를 입력해 주세요.`);
                    return false;
                }
            }
        }

        // 최고관리자 입력값 검증
        const admin_id_old = "{{ configs.super_admin }}";
        const admin_id_new = f.super_admin.value;
        if (admin_id_old !== admin_id_new) {
            if (!confirm('최고관리자 변경 시 즉시 반영되며, 관리자 재접속이 불가능할 수 있어요. \n그래도 변경하시겠습니까?')) {
                return false;
            }
        }

        // 사업자등록번호 입력값 검증
        const biz_reg_no = f.biz_reg_no.value.trim();
        if (biz_reg_no && !/^\d{3}-\d{2}-\d{5}$/.test(biz_reg_no)) {
            alert('사업자등록번호 형식이 올바르지 않습니다.');
            return false;
        }

        return true;
    }

    // 메일 테스트 입력값 검증
    function validateTestMailInputs() {
        const mail_address = document.getElementById('mail_address').value.trim();
        const mail_name = document.getElementById('mail_name').value.trim();
        if (!mail_address || !mail_name) {
            alert('먼저 메일 발송 주소, 메일 발송 이름을 모두 설정해 주세요.');
            return false;
        }
        return true;
    }
</script>
{% endblock content %}