{% extends "@admin/_layout.html" %}
{% from "@admin/macro.html" import anchor, checked, info, selected %}

{% set title = "기본환경 > 기본환경설정" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" async></script>
{% endblock head %}

{% block content %}
{% set sub_menus = {
    'site' : '사이트 설정',
    'business': '사업자 정보',
    'ip': 'IP접속 관리',
    'meta': '메타태그/스크립트'
} %}

<h1 id="container_title">{{ title }}</h1>
<div class="container_wr">
    <form name="form_config" id="form_config" method="post" action="{{ url_for('admin.config.basic.update') }}" onsubmit="return validate_config_form(this);">
        {{ csrf.field|raw }}
        <input type="hidden" name="_METHOD" value="PUT">

        <section id="anchor_site">
            <h2 class="h2_frm">{{ sub_menus.site }}</h2>
            {{ anchor(sub_menus, 'site') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>{{ sub_menus.site }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="site_title">사이트 제목<strong class="sound_only">필수</strong></label></th>
                            <td colspan="3">
                                {{ info('브라우저 탭 / 메일 발송 등에 표시되는 이름입니다.') }}
                                <input type="text" id="site_title" name="site_title" class="frm_input required" value="{{ old('site_title', configs) }}" size="40" required>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="site_description">사이트 설명</label></th>
                            <td>
                                {{ info('사이트 설명을 간략하게 입력해 주세요. 검색 엔진에 제공하는 정보입니다.') }}
                                <textarea name="site_description" id="site_description">
                                    {{- old('site_description', configs) -}}
                                </textarea>
                            </td>
                            <th scope="row"><label for="site_keyword">사이트 키워드</label></th>
                            <td>
                                {{ info('쉼표나 탭으로 구분하여 입력하세요. 검색 엔진에 제공하는 정보입니다.') }}
                                <textarea name="site_keyword" id="site_keyword" >
                                    {{- old('site_keyword', configs) -}}
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="super_admin">최고관리자<strong class="sound_only">필수</strong></label></th>
                            <td colspan="3">
                                {{ info('레벨10 회원을 최고관리자로 지정할 수 있습니다. 사이트의 모든 권한을 갖게 됩니다.') }}
                                <select name="super_admin" id="super_admin" required>
                                    <option value="">선택안함</option>
                                {% for admin in admins %}
                                    <option value="{{ admin.mb_id }}" {{ selected(admin.mb_id, old('super_admin', configs)) }}>
                                        {{- admin.mb_id ~ " (" ~ admin.mb_name ~ ")"-}}
                                    </option>
                                {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row"><label for="privacy_officer_name">개인정보관리책임자명<strong class="sound_only">필수</strong></label></th>
                            <td colspan="3">
                                {{ info('사이트 하단, 개인정보처리방침에 표시할 개인정보관리책임자명입니다.') }}
                                <input type="text" name="privacy_officer_name" value="{{ old('privacy_officer_name', configs) }}" id="privacy_officer_name" required class="required frm_input" size="40">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="privacy_officer_email">개인정보관리책임자명 메일 주소<strong class="sound_only">필수</strong></label></th>
                            <td colspan="3">
                                {{ info('사이트 하단, 개인정보처리방침에 표시할 개인정보관리책임자 이메일입니다.') }}
                                <input type="text" name="privacy_officer_email" value="{{ old('privacy_officer_email', configs) }}" id="privacy_officer_email" required class="required email frm_input" size="40">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">쇼핑몰 사용</th>
                            <td colspan="3">
                                <label for="use_shop_1" class="rules_label">사용</label>
                                <input name="use_shop" id="use_shop_1" type="radio" value="1" {{ checked(1, old('use_shop', configs)) }}>
                                <label for="use_shop_0" class="rules_label">사용안함</label>
                                <input name="use_shop" id="use_shop_0" type="radio" value="0" {{ checked(0, old('use_shop', configs), true) }}>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">커뮤니티 사용</th>
                            <td colspan="3">
                                <label for="use_community_1" class="rules_label">사용</label>
                                <input name="use_community" id="use_community_1" type="radio" value="1" {{ checked(1, old('use_community', configs)) }}>
                                <label for="use_community_0" class="rules_label">사용안함</label>
                                <input name="use_community" id="use_community_0" type="radio" value="0" {{ checked(0, old('use_community', configs), true) }}>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_business">
            <h2 class="h2_frm">{{ sub_menus.business }}</h2>
            {{ anchor(sub_menus, 'business') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>{{ sub_menus.business }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="company_name">회사명</label></th>
                            <td><input type="text" name="company_name" id="company_name" class="frm_input" value="{{ old('company_name', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="biz_reg_no">사업자등록번호</label></th>
                            <td><input type="text" name="biz_reg_no" id="biz_reg_no" class="frm_input" value="{{ old('biz_reg_no', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="ceo_name">대표자명</label></th>
                            <td><input type="text" name="ceo_name" id="ceo_name" class="frm_input" value="{{ old('ceo_name', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="main_phone_number">대표전화번호</label></th>
                            <td><input type="text" name="main_phone_number" id="main_phone_number" class="frm_input" value="{{ old('main_phone_number', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="fax_number">팩스번호</label></th>
                            <td><input type="text" name="fax_number" id="fax_number" class="frm_input" value="{{ old('fax_number', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="ecom_reg_no">통신판매업신고번호</label></th>
                            <td><input type="text" name="ecom_reg_no" id="ecom_reg_no" class="frm_input" value="{{ old('ecom_reg_no', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="add_telecom_no">부가통신사업자번호</label></th>
                            <td><input type="text" name="add_telecom_no" id="add_telecom_no" class="frm_input" value="{{ old('add_telecom_no', configs) }}"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="biz_zip_code">사업장 우편번호</label></th>
                            <td>
                                <input type="text" name="biz_zip_code" id="biz_zip_code" class="frm_input" value="{{ old('biz_zip_code', configs) }}">
                                <button type="button" class="btn_frmline" onclick="win_zip('form_config', 'biz_zip_code', 'biz_address', 'biz_address_detail', 'biz_address_etc', '');">주소찾기</button><br>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="biz_address">사업장 기본주소</label></th>
                            <td><input type="text" name="biz_address" id="biz_address" class="frm_input" value="{{ old('biz_address', configs) }}" placeholder="기본주소"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="biz_address_detail">사업장 상세주소</label></th>
                            <td><input type="text" name="biz_address_detail" id="biz_address_detail" class="frm_input" value="{{ old('biz_address_detail', configs) }}" placeholder="상세주소"></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="biz_address_etc">참고항목</label></th>
                            <td><input type="text" name="biz_address_etc" id="biz_address_etc" class="frm_input" value="{{ old('biz_address_etc', configs) }}" readonly></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_ip">
            <h2 class="h2_frm">{{ sub_menus.ip }}</h2>
            {{ anchor(sub_menus, 'ip') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>{{ sub_menus.ip }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="possible_ip">접근가능 IP</label></th>
                            <td>
                                {{ info('입력된 IP의 컴퓨터만 접근할 수 있습니다.\n 123.123.+ 도 입력 가능. (엔터로 구분)') }}
                                <textarea name="possible_ip" id="possible_ip">
                                    {{- old('possible_ip', configs) -}}
                                </textarea>
                            </td>
                            <th scope="row"><label for="intercept_ip">접근차단 IP</label></th>
                            <td>
                                {{ info('입력된 IP의 컴퓨터는 접근할 수 없음.\n 123.123.+ 도 입력 가능. (엔터로 구분)') }}
                                <textarea name="intercept_ip" id="intercept_ip">
                                    {{- old('intercept_ip', configs) -}}
                                </textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="anchor_meta">
            <h2 class="h2_frm">{{ sub_menus.meta }}</h2>
            {{ anchor(sub_menus, 'meta') }}

            <div class="tbl_frm01 tbl_wrap">
                <table>
                    <caption>>{{ sub_menus.meta }}</caption>
                    <colgroup>
                        <col class="grid_4">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="add_script">사용자 스크립트</label></th>
                            <td colspan="3">
                                {{ info('사용자 정의 자바스크립트를 입력하세요. </html> 다음에 추가됩니다.') }}
                                <textarea name="add_script" id="add_script">
                                {%- autoescape false -%}
                                    {{- old('add_script', configs) -}}
                                {%- endautoescape -%}
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="add_css">사용자 스타일시트(CSS)</label></th>
                            <td colspan="3">
                                {{ info('사용자 정의 스타일시트를 입력하세요. <head> 마지막에 추가됩니다.') }}
                                <textarea name="add_css" id="add_css">
                                {%- autoescape false -%}
                                    {{- old('add_css', configs) -}}
                                {%- endautoescape -%}
                                </textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="add_meta">사용자 메타태그</label></th>
                            <td colspan="3">
                                {{ info('사용자 정의 메타 태그를 입력하세요. <meta> 마지막에 추가됩니다.') }}
                                <textarea name="add_meta" id="add_meta">
                                {%- autoescape false -%}
                                    {{- old('add_meta', configs) -}}
                                {%- endautoescape -%}
                                </textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div class="btn_fixed_top btn_confirm">
            <input type="submit" value="확인" class="btn_submit btn" accesskey="s">
        </div>

    </form>
</div>

<script>
    function validate_config_form(f) {
        let current_user_ip = "{{ current_ip }}";
        let intercept_ip_val = f.intercept_ip.value;

        if (intercept_ip_val && current_user_ip) {
            var intercept_ips = intercept_ip_val.split("\n");

            for (var i = 0; i < intercept_ips.length; i++) {
                if (intercept_ips[i].trim()) {
                    intercept_ips[i] = intercept_ips[i].replace(".", "\.");
                    intercept_ips[i] = intercept_ips[i].replace("+", "[0-9\.]+");

                    var re = new RegExp(intercept_ips[i]);
                    if (re.test(current_user_ip)) {
                        alert("현재 접속 IP : " + current_user_ip + " 가 차단될수 있기 때문에, 다른 IP를 입력해 주세요.");
                        return false;
                    }
                }
            }
        }

        return true;
    }
</script>
{% endblock content %}