<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ base_url }}/install/css/install.css?ver=240827">
    {% block head %}{% endblock head %}
</head>

<body>

    <div id="ins_bar">
        <span id="bar_img">GNUBOARD</span>
        <span id="bar_txt">INSTALLATION</span>
    </div>

    {% block content %}{% endblock content %}

    <div id="ins_ft">
        <strong>GNUBOARD</strong>
        <p>GPL! OPEN SOURCE GNUBOARD</p>
    </div>

</body>

</html>